{% extends "design-system-page-layout-guide.html" %}

{% set section_id = "prototypes" %} <!-- Section id var for main nav --> 
{% set page_id = "decisiontree" %} <!-- Page id var for side nav --> 
{% set page_title = "Decision tree" %} <!-- Page title var for page header (H1) and page title -->    

{% block sectionOneTop %}{% endblock %}

{% block sectionLeftHandColumn %}
    <!-- Side nav include -->  
    {% include "includes/design-system/design-system-side-nav.html" %}
{% endblock %}

{% block sectionOneRightContent %}
<div class="page-header-section">
    <h1>{{ page_title }}</h1>
    <p class="lead">This is a prototype and cannot be used on the leeds.gov.uk.</p>
</div>

<div class="example">
    <span class="example-title">Example</span>
    
    <h2>Direct a user to the relevent Council Tax form</h2>
    <div class="lcc-tree-container"></div>
</div>

<div class="code-snippet">
    <h3 class="heading-mark-up">HTML Snippet <span class="sr-only">for decision tree</span></h3>

    <pre class="language-markup"><code id="snippet-decision-tree" class="line-numbers language-markup"><span style="color: #007700">&lt;h2&gt;</span>Getting rid of unwanted items<span style="color: #007700">&lt;/h2&gt;</span>
<span style="color: #007700">&lt;div</span> <span style="color: #0000CC">class=</span><span style="background-color: #fff0f0">&quot;lcc-tree-container&quot;</span><span style="color: #007700">&gt;&lt;/div&gt;</span>
</code></pre>

    <button class="clipboard" data-clipboard-target="#snippet-decision-tree">
        Copy <span class="sr-only">HTML snippet for decision tree</span>
    </button>
</div>

{% endblock %}

{% block additional_page_scripts %}
<script type="text/javascript">
    var data = {
        message: '<h3>Do you want to tell us about a change?</h3>',
        decisions: [
                {
                    answer: 'Yes',
                    message: '<h3>Do you want to tell us about a move?</h3>',
                    decisions: [                
                        {
                            answer: "Yes",
                            message: '<h3>Are you a student?</h3>',     
                            decisions: [                
                                {
                                    answer: "Yes",
                                    message: '<h3>Council tax for students</h3><p>Link and content regarding student council tax to be confirmed.</p>',                     
                                },
                                {
                                    answer: 'No',
									message: '<h3>Do you recieve benefits?</h3>',
									decisions: [
										{
											answer: 'Yes',
											message: '<h3>Council tax for people with benefits</h3><p>Content regarding council tax for people with benefits to be confirmed.</p>'
										},
										{
											answer: "No",
											message: '<h3>Where are you moving?</h3>',
											decisions: [                
												{
													answer: "Out of Leeds",
													message: '<h3>Are you moving out of a propery that will remain occupied?</h3>',  
													decisions: [                
														{
															answer: "Yes",
															message: '<h3>Moving out of a property that will remain occupied</h3><p>You will need to call our Council Tax Service to notify them you are moving (phone number to be confirmed).</p><p>Make sure you are removed from any tenancy agreement as you may still be liable.</p><p>You will need to notify your new council that you are moving.</p>',                     
														},
														{
															answer: 'No',
															message: '<h3>Are you currently a homeowner or renter?</h3>',
															decisions: [    
																{
																	answer: 'Homeowner',
																	message: '<h3>Homeowner moving out of Leeds</h3><p>You will be charged up until the date the sale completes.</p><p>You will need to notify your new council that you are moving.</p><p><a class="btn btn-primary" href="#" rel="external">Change of address form</a></p>',
																},        
																{
																	answer: "Renter",
																	message: '<h3>Are you currently on a rolling tenancy?</h3>', 
																	decisions: [                
																		{
																			answer: "Yes",
																			message: '<h3>Moving out of Leeds and still on a rolling tenancy</h3><p>If you are on a rolling tenancy you will be charged until you move.</p><p>You will need to notify your new council that you are moving.</p><p><a class="btn btn-primary" href="#" rel="external">Change of address form</a></p>',                     
																		},
																		{
																			answer: 'No',
																			message: '<h3>Moving out of Leeds and not on a rolling tenancy</h3><p>If you move out before your tenancy ends you will still be liable.</p><p>You will need to notify your new council that you are moving.</p><p><a class="btn btn-primary" href="#" rel="external">Change of address form</a></p>',
																		}
																	]                     
																}                                                        
															] 
														}
													]                   
												},
												{
													answer: 'Within Leeds',
													message: '<h3>Moving within Leeds</h3><p>You will get a closing bill for the address you are moving out of and an opening bill for your new address.</p><h3>Are you moving out of a property that will remain occupied?</h3>',
													decisions: [
														{
															answer: 'Yes',
															message: '<h3>Moving out of a property that will remain occupied</h3><p>You will need to call our Council Tax service to notify them you are moving.</p><p>Make sure you are removed from any tenancy agreement as you may still be liable (number to be confirmed).</p>',
														},
														{
															answer: 'No',
															message: '<h3>Are you moving into a property occupied by an existing bill payer?</h3>',
															decisions: [
																{
																	answer: 'Yes',
																	message: '<h3>Moving into a property occupied by an existing bill payer</h3><p>You will need to call our Council Tax service to notify them you are moving.</p><p>Make sure you are removed from any tenancy agreement as you may still be liable (number to be confirmed).</p>',
																},
																{
																	answer: 'No',
																	message: '<h3>Recently built properties</h3><p>If you are moving into a property that has recently been built you may need to check that this has been banded.</p> <a href="#" rel="external">Check your property band</a> <h3>Are you moving from a property you rented or owned?</h3>',
																	decisions: [
																		{
																			answer: 'Rented',
																			message: '<h3>Moving from a rented property</h3><p><a class="btn btn-primary" href="#" rel="external">Change of address form</a>'
																		},
																		{
																			answer: 'Owned',
																			message: '<h3>Have you sold the property you are leaving?</h3>',
																			decisions: [
																				{
																					answer: 'Yes',
																					message: '<h3>Sold the property you are leaving</h3><p><a rel="external" class="btn btn-primary" href="#">Change of address form</a>'
																				},
																				{
																					answer: 'No',
																					message: '<h3>Empty properties</h3><p>Content for empty property overview and phone number to call to be confirmed.</p>',
																				}
																			]
																		}
																	]
																}
															]
														}

													]
												},
												{
													answer: 'Into Leeds',
													message: '<h3>Will you be renting or owning your home in Leeds?</h3>',
													decisions: [                
														{
															answer: "Renting",
															message: '<h3>Moving into Leeds and renting</h3><p>You will be charged from when your tenancy starts.</p><p><a class="btn btn-primary" href="#" rel="external">Change of address form</a></p>'                                                                      
														},
														{
															answer: 'Homeowner',
															message: '<h3>Moving into Leeds and will be a homeowner</h3><p>You will be charged from your completion date.</p><p>If your property is a new build you will need to check that this has been banded.<p><a href="#" rel="external">Check your bands property</a></p><p><a class="btn btn-primary" href="#" rel="external">Change of address form</a></p>',
														}
													] 
												}
											]
										}
									]
                                }
                            ]                   
                        },
                        {
                            answer: 'No',
                            message: '<h3>You do not want to tell us about a move</h3><p>Content to be confirmed</p>'
                        }
                    ]            
                },
                {
                    answer: 'No',
                    message: '<h3>You do not want to tell us about a change</h3><p>Content to be confirmed</p>'
                    
                }            
            ]
    };

    jQuery(document).ready(function() {
        jQuery('.lcc-tree-container').decisionTree({data: data});
    });
</script>

{% endblock %}