{% extends "design-system-page-layout-guide.html" %}

{% set section_id = "prototypes" %}
<!-- Section id var for main nav -->
{% set page_id = "tooltips" %}
<!-- Page id var for side nav -->
{% set page_title = "Tooltips" %}
<!-- Page title var for page header (H1) and page title -->

{% block sectionOneTop %}{% endblock %}

{% block sectionLeftHandColumn %}
<!-- Side nav include -->
{% include "includes/design-system/design-system-side-nav.html" %}
{% endblock %}

{% block sectionOneRightContent %}
<div class="page-header-section">
    <h1>{{ page_title }}</h1>
</div>
<div class="contents-box">
    <h2 class="heading-contents">Contents</h2>
    <ul class="list list-contents">
        <li><a href="#tooltips">Tooltips</a></li>
    </ul>
</div>

<h2 class="heading-large" id="tooltips">Tooltips</h2>
<div class="example" style="overflow: visible;">
    <span class="example-title">Example</span>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.
        <span class="toggletip-container">
            <button class="tooltip__button" type="button" aria-label="more info"
                data-toggletip-content="Soakaway testing shall be in accordance with BRE 365(?) and designed in accordance with MDCSFR">Soakaways</button>
            <span role="status"></span>
        </span>

    </p>
</div>


<div class="code-snippet">
    <h3 class="heading-mark-up">HTML Snippet <span class="sr-only">for panel border</span></h3>
    <pre>
        <code id="snippet-panel-border" class="line-numbers language-markup">
            &lt;p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
                &lt;span class="toggletip-container">
                    &lt;button class="tooltip__button" type="button" aria-label="more info"
                        data-toggletip-content="Soakaway testing shall be in accordance with BRE 365(?) and designed in accordance with MDCSFR">Soakaways&lt;/button>
                    &lt;span role="status">&lt;/span>
                &lt;/span>
        
            &lt;/p>
        </code>
    </pre>
    <button class="clipboard" data-clipboard-target="#snippet-panel-border">
        Copy <span class="sr-only">HTML snippet for panel border</span>
    </button>
</div>

<script>
    (function () {

        var el = document.querySelector('.toggletip-bubble');
        //additional
        var checkPositioning = function () {
            var bounding = document.querySelector('.toggletip-bubble').getBoundingClientRect();

            if (bounding.bottom > window.innerHeight) {
                document.querySelector('.toggletip-bubble').classList.add('push-up');
            }

            if (bounding.right > window.innerWidth) {
                document.querySelector('.toggletip-bubble').classList.add('push-right');
            }
        };


        // Get all the toggletip buttons
        var toggletips = document.querySelectorAll('[data-toggletip-content]');

        // Iterate over them
        Array.prototype.forEach.call(toggletips, function (toggletip) {
            // Get the message from the data-content element
            var message = toggletip.getAttribute('data-toggletip-content');

            // Get the live region element
            var liveRegion = toggletip.nextElementSibling;

            // Toggle the message
            toggletip.addEventListener('click', function () {
                liveRegion.innerHTML = '';
                window.setTimeout(function () {
                    liveRegion.innerHTML = '<span class="toggletip-bubble">' + message +
                        '</span>';
                }, 100);
                window.setTimeout(function () {
                    checkPositioning();
                }, 100);
            });

            // Close on outside click
            document.addEventListener('click', function (e) {
                if (toggletip !== e.target) {
                    liveRegion.innerHTML = '';
                }
            });

            // Remove toggletip on ESC
            toggletip.addEventListener('keydown', function (e) {
                if ((e.keyCode || e.which) === 27)
                    liveRegion.innerHTML = '';
            });
        });
    }());
</script>

{% endblock %}