<ul>
        <li class="{% if page_id == "decisiontree" %}active{% endif %}"><a href="/design-system/{{ section_id }}/decision-tree">Decision tree</a></li>
        <li class="{% if page_id == "stepbystep" %}active{% endif %}"><a href="/design-system/{{ section_id }}/step-by-step">Step by step list</a></li>
        <li class="{% if page_id == "checkout" %}active{% endif %}"><a href="/design-system/{{ section_id }}/checkout">Checkout</a></li>
        <li class="{% if page_id == "textarea" %}active{% endif %}"><a href="/design-system/{{ section_id }}/textarea">Textarea</a></li>
</ul>