<h2 class="heading-medium">Ask users for...</h2>
<ul>
    <li class="{% if page_id == "addresses" %}active{% endif %}"><a href="/design-system/{{ section_id }}/addresses">Addresses</a></li>
    <li class="{% if page_id == "email-addresses" %}active{% endif %}"><a href="/design-system/{{ section_id }}/email-addresses">Email addresses</a></li>
    <li class="{% if page_id == "dates" %}active{% endif %}"><a href="/design-system/{{ section_id }}/dates">Dates</a></li>
    <li class="{% if page_id == "gender-and-sex" %}active{% endif %}"><a href="/design-system/{{ section_id }}/gender-and-sex">Gender and sex</a></li>
    <li class="{% if page_id == "names" %}active{% endif %}"><a href="/design-system/{{ section_id }}/names">Names</a></li>
</ul>
<h2 class="heading-medium">Help users to...</h2>
<ul>
    <li class="{% if page_id == "check-a-service-is-suitable" %}active{% endif %}"><a href="/design-system/{{ section_id }}/check-a-service-is-suitable">Check a service is suitable</a></li>
    <li class="{% if page_id == "check-answers" %}active{% endif %}"><a href="/design-system/{{ section_id }}/check-answers">Check answers</a></li>
    <li class="{% if page_id == "confirm-an-email-address" %}active{% endif %}"><a href="/design-system/{{ section_id }}/confirm-an-email-address">Confirm an email address</a></li>
    <li class="{% if page_id == "fill-in-a-form" %}active{% endif %}"><a href="/design-system/{{ section_id }}/fill-in-a-form">Fill in a form</a></li>
    <li class="{% if page_id == "understand-what-happens-next" %}active{% endif %}"><a href="/design-system/{{ section_id }}/understand-what-happens-next">Understand what happens next</a></li>
</ul>