<div id="sticky-anchor"></div>
<div class="design-system-side-nav">
    {% if section_id == "styles" %}
        {% include "includes/design-system/design-system-side-nav-styles.html" %}
    {% elif section_id == "components" %}
        {% include "includes/design-system/design-system-side-nav-components.html" %}
    {% elif section_id == "patterns" %}
        {% include "includes/design-system/design-system-side-nav-patterns.html" %}
        {% elif section_id == "prototypes" %}
        {% include "includes/design-system/design-system-side-nav-prototypes.html" %}
    {% elif section_id == "campaigns" %}
        {% include "includes/design-system/design-system-side-nav-campaigns.html" %}
    {% elif section_id == "patterns" %}
    {% else %}
        Check the page_id is set correctly
    {% endif %}
</div>