<ul>
    <li class="{% if page_id == "overview" %}active{% endif %}"><a href="/design-system/{{ section_id }}/overview">Overview</a></li>
    <li class="{% if page_id == "campaign-bloquotes" %}active{% endif %}"><a href="/design-system/{{ section_id }}/campaign-blockquote">Blockquotes</a></li>
    <li class="{% if page_id == "fullwidthbanner" %}active{% endif %}"><a href="/design-system/{{ section_id }}/full-width-banner">Full width banner</a></li>
    <li class="{% if page_id == "campaign-header" %}active{% endif %}"><a href="/design-system/{{ section_id }}/campaign-header">Header</a></li>
    <li class="{% if page_id == "highlighted-text" %}active{% endif %}"><a href="/design-system/{{ section_id }}/highlighted-text">Highlighted text</a></li>
    <li class="{% if page_id == "image-panel" %}active{% endif %}"><a href="/design-system/{{ section_id }}/image-panel">Image panel</a></li>
    <li class="{% if page_id == "campaign-logos" %}active{% endif %}"><a href="/design-system/{{ section_id }}/campaign-logo-panel">Logo panel</a></li>
    <li class="{% if page_id == "pods" %}active{% endif %}"><a href="/design-system/{{ section_id }}/pods">Pods</a></li>
</ul>