<ul>
    <li class="{% if page_id == "colour" %}active{% endif %}"><a href="/design-system/{{ section_id }}/colour">Colour</a></li>
    <li class="{% if page_id == "images" %}active{% endif %}"><a href="/design-system/{{ section_id }}/images">Images</a></li>
    <li class="{% if page_id == "layout" %}active{% endif %}"><a href="/design-system/{{ section_id }}/layout">Layout</a></li>
    <li class="{% if page_id == "typography" %}active{% endif %}"><a href="/design-system/{{ section_id }}/typography">Typography</a></li>
</ul>