<ul>
    <li class="{% if page_id == "accordion" %}active{% endif %}"><a href="/design-system/{{ section_id }}/accordion">Accordion</a></li>
    <li class="{% if page_id == "alerts" %}active{% endif %}"><a href="/design-system/{{ section_id }}/alerts">Alerts</a></li>
    <li class="{% if page_id == "back-link" %}active{% endif %}"><a href="/design-system/{{ section_id }}/back-link">Back link</a></li>
    <li class="{% if page_id == "breadcrumb" %}active{% endif %}"><a href="/design-system/{{ section_id }}/breadcrumb">Breadcrumb</a></li>
    <li class="{% if page_id == "buttons" %}active{% endif %}"><a href="/design-system/{{ section_id }}/buttons">Buttons</a></li>
    <li class="{% if page_id == "checkboxes" %}active{% endif %}"><a href="/design-system/{{ section_id }}/checkboxes">Checkboxes</a></li>
    <li class="{% if page_id == "date-input" %}active{% endif %}"><a href="/design-system/{{ section_id }}/date-input">Date input</a></li>
    <li class="{% if page_id == "description-list" %}active{% endif %}"><a href="/design-system/{{ section_id }}/description-list">Description list</a></li>
    <li class="{% if page_id == "error-message" %}active{% endif %}"><a href="/design-system/{{ section_id }}/error-message">Error message</a></li>
    <li class="{% if page_id == "error-summary" %}active{% endif %}"><a href="/design-system/{{ section_id }}/error-summary">Error summary</a></li>
    <li class="{% if page_id == "fieldset" %}active{% endif %}"><a href="/design-system/{{ section_id }}/fieldset">Fieldset</a></li>
    <li class="{% if page_id == "file-upload" %}active{% endif %}"><a href="/design-system/{{ section_id }}/file-upload">File upload</a></li>
    <li class="{% if page_id == "label" %}active{% endif %}"><a href="/design-system/{{ section_id }}/label">Label</a></li>
    <li class="{% if page_id == "media-player" %}active{% endif %}"><a href="/design-system/{{ section_id }}/media-player">Media player</a></li>
    <li class="{% if page_id == "panel" %}active{% endif %}"><a href="/design-system/{{ section_id }}/panel">Panel</a></li>
    <li class="{% if page_id == "phase-banner" %}active{% endif %}"><a href="/design-system/{{ section_id }}/phase-banner">Phase banner</a></li>
    <!--<li class="{% if page_id == "pods" %}active{% endif %}"><a href="/design-system/{{ section_id }}/pods">Pods</a></li>-->
    <li class="{% if page_id == "promos" %}active{% endif %}"><a href="/design-system/{{ section_id }}/promos">Promos</a></li>
    <li class="{% if page_id == "radio-buttons" %}active{% endif %}"><a href="/design-system/{{ section_id }}/radio-buttons">Radio buttons</a></li>
    <li class="{% if page_id == "select" %}active{% endif %}"><a href="/design-system/{{ section_id }}/select">Select</a></li>
    <li class="{% if page_id == "side-nav" %}active{% endif %}"><a href="/design-system/{{ section_id }}/side-nav">Side nav</a></li>
    <li class="{% if page_id == "sub-section-nav" %}active{% endif %}"><a href="/design-system/{{ section_id }}/sub-section-nav">Sub-section nav</a></li>
    <li class="{% if page_id == "table" %}active{% endif %}"><a href="/design-system/{{ section_id }}/table">Table</a></li>
</ul>