<h2 class="heading-medium">Ask users for...</h2>
<ul>
    <li class="{% if page_id == "addresses" %}active{% endif %}"><a href="/design-system/{{ section_id }}/addresses">Addresses</a></li>
    <li class="{% if page_id == "addresses-v2" %}active{% endif %}"><a href="/design-system/{{ section_id }}/addresses-v2">Addresses (beta)</a></li>
    <li class="{% if page_id == "email-addresses" %}active{% endif %}"><a href="/design-system/{{ section_id }}/email-addresses">Email addresses</a></li>
    <li class="{% if page_id == "dates" %}active{% endif %}"><a href="/design-system/{{ section_id }}/dates">Dates</a></li>
    <li class="{% if page_id == "gender-and-sex" %}active{% endif %}"><a href="/design-system/{{ section_id }}/gender-and-sex">Gender and sex</a></li>
    <li class="{% if page_id == "ethnicity" %}active{% endif %}"><a href="/design-system/{{ section_id }}/ethnicity">Ethnicity</a></li>
    <li class="{% if page_id == "marital-status" %}active{% endif %}"><a href="/design-system/{{ section_id }}/marital-status">Marital Status</a></li>
    <li class="{% if page_id == "religion" %}active{% endif %}"><a href="/design-system/{{ section_id }}/religion">Religion</a></li>
    <li class="{% if page_id == "employment" %}active{% endif %}"><a href="/design-system/{{ section_id }}/employment">Employment (beta)</a></li>
    <li class="{% if page_id == "names" %}active{% endif %}"><a href="/design-system/{{ section_id }}/names">Names</a></li>
</ul>