{% extends "page-layout-styleguide.html" %}

{% block page_title %}
	Data
{% endblock %}


  {% block css_register %}
  <script src="https://use.typekit.net/pws7qio.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 {% block additional_page_scripts %}
    <script src="/public/javascripts/prism.js" type="text/javascript"></script>  
{% endblock %}  

{% block header %}
    Data
{% endblock %}

 {% block main_nav %}
  {% include "includes/main_nav.html" %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
  {% include "includes/breadcrumb_sp.html" %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}

{% endblock %}

{% block sectionOneRightHandColumn %}

{% endblock %}

{% block sectionLeftHandColumn %}
<div id="sticky-anchor"></div>
<div id="sticky">
    <a href="/design-system/styleguide" class="link-back">Back to style guide</a>
    <h3 class="heading-xsmall heading-contents">Contents:</h3>
    <ul class="list list-contents">
        <li><a href="#data-table-numeric">Numeric tabular data</a></li>
        <li><a href="#data-table">Data in a table</a></li>
        <li><a href="#table-accessibility">Table accessibility</a></li>
        <li><a href="#description-list">Description list</a></li>
    </ul>
</div>
{% endblock %}

{% block sectionOneRightContent %}
<h2 class="heading-large" id="data-table-numeric">Numeric tabular data</h2>
<div class="text">
    <p>When comparing rows of numbers, align numbers to the right in table cells.</p>
</div>
  <div class="example">
      <table>
        <caption class="sr-only">Council tax bands for properties in Leeds</caption>
        <thead>
            <tr>
                <th scope="col">Band</th>
                <th class="numeric" scope="col">Annual council tax charge</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>A <span class="font-xsmall">(reduced rate for <a href="#">disability discount</a>)</span></td>
                <td class="numeric">£826.69</td>
            </tr>
            <tr>
                <td>A</td>
                <td class="numeric">£992.03</td>
            </tr>
            <tr>
                <td>B</td>
                <td class="numeric">£1,157.37</td>
            </tr>
            <tr>
                <td>C</td>
                <td class="numeric">£1,322.71</td>
            </tr>
            <tr>
                <td>D</td>
                <td class="numeric">£1,488.05</td>
            </tr>
            <tr>
                <td>E</td>
                <td class="numeric">£1,818.72</td>
            </tr>
            <tr>
                <td>F<br/></td>
                <td class="numeric">£2,149.40</td>
            </tr>
            <tr>
                <td>G</td>
                <td class="numeric">£2,480.07</td>
            </tr>
            <tr>
                <td>H</td>
                <td class="numeric">£2,976.09</td>
            </tr>
        </tbody>
    </table>
    <div class="code-reveal">
    <a class="text-link reveal reveal-code collapsed" role="button" data-toggle="collapse" href="#data-table-numeric-reveal" aria-expanded="false" aria-controls="data-table-numeric-reveal">
    See code
    </a>
    <div class="collapse exampleCode" id="data-table-numeric-reveal">
        <pre>
            <code class="line-numbers language-markup">
            &lt;table>
                &lt;caption class="sr-only">Council tax bands for properties in Leeds&lt;/caption>
                &lt;thead>
                    &lt;tr>
                        &lt;th scope="col">Band&lt;/th>
                        &lt;th class="numeric" scope="col">Annual council tax charge&lt;/th>
                    &lt;/tr>
                &lt;/thead>
                &lt;tbody>
                    &lt;tr>
                        &lt;td>A &lt;span class="font-xsmall">(reduced rate for &lt;a href="#">disability discount&lt;/a>)&lt;/span>&lt;/td>
                        &lt;td class="numeric">£826.69&lt;/td>
                    &lt;/tr>
                    &lt;tr>
                        &lt;td>A&lt;/td>
                        &lt;td class="numeric">£992.03&lt;/td>
                    &lt;/tr>
                    &lt;tr>
                        &lt;td>B&lt;/td>
                        &lt;td class="numeric">£1,157.37&lt;/td>
                    &lt;/tr>
                    &lt;tr>
                        &lt;td>C&lt;/td>
                        &lt;td class="numeric">£1,322.71&lt;/td>
                    &lt;/tr>
                    &lt;tr>
                        &lt;td>D&lt;/td>
                        &lt;td class="numeric">£1,488.05&lt;/td>
                    &lt;/tr>
                    &lt;tr>
                        &lt;td>E&lt;/td>
                        &lt;td class="numeric">£1,818.72&lt;/td>
                    &lt;/tr>
                    &lt;tr>
                        &lt;td>F&lt;br/>&lt;/td>
                        &lt;td class="numeric">£2,149.40&lt;/td>
                    &lt;/tr>
                    &lt;tr>
                        &lt;td>G&lt;/td>
                        &lt;td class="numeric">£2,480.07&lt;/td>
                    &lt;/tr>
                    &lt;tr>
                        &lt;td>H&lt;/td>
                        &lt;td class="numeric">£2,976.09&lt;/td>
                    &lt;/tr>
                &lt;/tbody>
            &lt;/table>
            </code>
        </pre>
    </div>
</div>
  </div>
  <h2 class="heading-large" id="data-table">Data in a table</h2>
    <div class="text">
        <p>Not all content in tables should be right aligned.</p>
    </div>
  <div class="example">
         <table> 
            <caption class="sr-only">Important dates for primary school applications</caption> 
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Stage</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1 November 2017 to 15 January 2018</td>
                    <td>Apply for a place</td>
                </tr>
                <tr>
                    <td>16 April 2018</td>
                    <td>Offers go out</td>
                </tr>
                <tr>
                    <td>30 April 2018</td>
                    <td>Waiting list deadline</td>
                </tr>
                <tr>
                    <td>16 May 2018</td>
                    <td>Deadline for accepting offers and appeals</td>
                </tr>
                <tr>
                    <td>April to July 2018</td>
                    <td>Places allocated from the waiting lists and appeals held<br/></td>
                </tr>
                <tr>
                    <td>September 2018</td>
                    <td>Start primary school</td>
                </tr>
            </tbody>
        </table>
    <div class="code-reveal">
    <a class="text-link reveal reveal-code collapsed" role="button" data-toggle="collapse" href="#data-table-reveal" aria-expanded="false" aria-controls="data-table-reveal">
    See code
    </a>
    <div class="collapse exampleCode" id="data-table-reveal">
        <pre>
            <code class="line-numbers language-markup">
            &lt;table> 
                &lt;caption class="sr-only">Important dates for primary school applications&lt;/caption> 
                &lt;thead>
                    &lt;tr>
                        &lt;th scope="col">Date&lt;/th>
                        &lt;th scope="col">Stage&lt;/th>
                    &lt;/tr>
                &lt;/thead>
                &lt;tbody>
                    &lt;tr>
                        &lt;td>1 November 2017 to 15 January 2018&lt;/td>
                        &lt;td>Apply for a place&lt;/td>
                    &lt;/tr>
                    &lt;tr>
                        &lt;td>16 April 2018&lt;/td>
                        &lt;td>Offers go out&lt;/td>
                    &lt;/tr>
                    &lt;tr>
                        &lt;td>30 April 2018&lt;/td>
                        &lt;td>Waiting list deadline&lt;/td>
                    &lt;/tr>
                    &lt;tr>
                        &lt;td>16 May 2018&lt;/td>
                        &lt;td>Deadline for accepting offers and appeals&lt;/td>
                    &lt;/tr>
                    &lt;tr>
                        &lt;td>April to July 2018&lt;/td>
                        &lt;td>Places allocated from the waiting lists and appeals held&lt;br/>&lt;/td>
                    &lt;/tr>
                    &lt;tr>
                        &lt;td>September 2018&lt;/td>
                        &lt;td>Start primary school&lt;/td>
                    &lt;/tr>
                &lt;/tbody>
            &lt;/table>
            </code>
        </pre>
    </div>
</div>
  </div>
<div role="note" aria-label="Information" class="text-highlight text-highlight">
    <h3 id="table-accessibility">Accessibility: tables</h3>
    <p>Making an accessible table isn’t hard and can be broken down into two main things.</p>
    <ul class="list list-bullet">
        <li>add a table caption</li>
        <li>mark row and column headings using the ‘scope’ attribute</li>
    </ul>
</div>
<h2 class="heading-large" id="description-list">Description list (Definition list)</h2>
<div class="text">
<p></p>
</div>
  <div class="example">
      <div class="description-list">
        <div class="description-list__item">
            <h3>Name</h3>
            <div class="description-list__item-content">
                <p>Central library</p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="description-list__item">
            <h3>Address</h3>
            <div class="description-list__item-content">
                <p>Municipal Buildings, <br>Calverley Street, <br>Leeds <br>WF3 2DL</p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="description-list__item">
            <h3>Library enquires - Telephone</h3>
            <div class="description-list__item-content">
                <p>0113 378 5005</p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="description-list__item">
            <h3>Library enquires - Email</h3>
            <div class="description-list__item-content">
                <p><a href="mailto:libraryenquiries@leeds.gov.uk">libraryenquiries@leeds.gov.uk</a></p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="description-list__item">
            <h3>Meeting room hire - Email</h3>
            <div class="description-list__item-content">
                <p><a href="mailto:centrallibrarybookings@leeds.gov.uk">centrallibrarybookings@leeds.gov.uk</a></p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="description-list__item">
            <h3>Opening hours</h3>
            <div class="description-list__item-content">
                <ul class="list">
                    <li><strong>Monday: </strong>9am to 7pm</li>
                    <li><strong>Tuesday: </strong>9am to 7pm</li>
                    <li><strong>Wednesday: </strong>9am to 7pm</li>
                    <li><strong>Thursday: </strong>9am to 6pm</li>
                    <li><strong>Friday: </strong>9am to 5pm</li>
                    <li><strong>Saturday: </strong>10am to 5pm</li>
                    <li><strong>Sunday: </strong>11am to 3pm</li>
                </ul>
                <div role="note" aria-label="Information" class="text-highlight text-highlight">
                    <p>Please note the library is closed on Bank Holidays</p>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="code-reveal">
    <a class="text-link reveal reveal-code collapsed" role="button" data-toggle="collapse" href="#description-list-reveal" aria-expanded="false" aria-controls="description-list-reveal">
    See code
    </a>
    <div class="collapse exampleCode" id="description-list-reveal">
        <pre>
            <code class="line-numbers language-markup">
                 &lt;div class="description-list">
                    &lt;div class="description-list__item">
                        &lt;h3>Name&lt;/h3>
                        &lt;div class="description-list__item-content">
                            &lt;p>Central library&lt;/p>
                        &lt;/div>
                        &lt;div class="clear">&lt;/div>
                    &lt;/div>
                    &lt;div class="description-list__item">
                        &lt;h3>Address&lt;/h3>
                        &lt;div class="description-list__item-content">
                            &lt;p>Municipal Buildings, &lt;br>Calverley Street, &lt;br>Leeds &lt;br>WF3 2DL&lt;/p>
                        &lt;/div>
                        &lt;div class="clear">&lt;/div>
                    &lt;/div>
                    &lt;div class="description-list__item">
                        &lt;h3>Library enquires - Telephone&lt;/h3>
                        &lt;div class="description-list__item-content">
                            &lt;p>0113 378 5005&lt;/p>
                        &lt;/div>
                        &lt;div class="clear">&lt;/div>
                    &lt;/div>
                    &lt;div class="description-list__item">
                        &lt;h3>Library enquires - Email&lt;/h3>
                        &lt;div class="description-list__item-content">
                            &lt;p>&lt;a href="mailto:libraryenquiries@leeds.gov.uk">libraryenquiries@leeds.gov.uk&lt;/a>&lt;/p>
                        &lt;/div>
                        &lt;div class="clear">&lt;/div>
                    &lt;/div>
                    &lt;div class="description-list__item">
                        &lt;h3>Meeting room hire - Email&lt;/h3>
                        &lt;div class="description-list__item-content">
                            &lt;p>&lt;a href="mailto:centrallibrarybookings@leeds.gov.uk">centrallibrarybookings@leeds.gov.uk&lt;/a>&lt;/p>
                        &lt;/div>
                        &lt;div class="clear">&lt;/div>
                    &lt;/div>
                    &lt;div class="description-list__item">
                        &lt;h3>Opening hours&lt;/h3>
                        &lt;div class="description-list__item-content">
                            &lt;ul class="list">
                                &lt;li>&lt;strong>Monday: &lt;/strong>9am to 7pm&lt;/li>
                                &lt;li>&lt;strong>Tuesday: &lt;/strong>9am to 7pm&lt;/li>
                                &lt;li>&lt;strong>Wednesday: &lt;/strong>9am to 7pm&lt;/li>
                                &lt;li>&lt;strong>Thursday: &lt;/strong>9am to 6pm&lt;/li>
                                &lt;li>&lt;strong>Friday: &lt;/strong>9am to 5pm&lt;/li>
                                &lt;li>&lt;strong>Saturday: &lt;/strong>10am to 5pm&lt;/li>
                                &lt;li>&lt;strong>Sunday: &lt;/strong>11am to 3pm&lt;/li>
                            &lt;/ul>
                            &lt;div role="note" aria-label="Information" class="text-highlight text-highlight">
                                &lt;p>Please note the library is closed on Bank Holidays&lt;/p>
                            &lt;/div>
                        &lt;/div>
                        &lt;div class="clear">&lt;/div>
                    &lt;/div>
                &lt;/div>
            </code>
        </pre>
    </div>
</div>
  </div>
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reusablecontent_footer %}
    {% include "includes/footer-styleguide.html" %}
 {% endblock %}