{% extends "page-layout-styleguide.html" %}

{% block page_title %}
	Navigation
{% endblock %}


  {% block css_register %}
  <script src="https://use.typekit.net/pws7qio.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 {% block additional_page_scripts %}
    <script src="/public/javascripts/prism.js" type="text/javascript"></script>  
{% endblock %}  

{% block header %}
    Navigation
{% endblock %}

 {% block main_nav %}
  {% include "includes/main_nav.html" %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
  {% include "includes/breadcrumb_sp.html" %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
<a href="/design-system/styleguide" class="link-back">Back to style guide</a>
<h3 class="heading-xsmall heading-contents">Contents:</h3>
<ul class="list list-contents">
    <li><a href="#main-nav">Main nav (header)</a></li>
    <li><a href="#footer-nav">Footer nav</a></li>
    <li><a href="#breadcrumb">Breadcrumb</a></li>
    <li><a href="#page-nav">Page nav (Pods)</a></li>
    <li><a href="#sub-section-nav">Sub-section nav</a></li>
    <li><a href="#side-nav">Side nav</a></li>
    <li><a href="#related-pages">Related pages</a></li>
    <li><a href="#journey-page">Journey page</a></li>
    </ul>
<h2 class="heading-medium" id="main-nav">Main nav (header)</h2>
<div class="example">
    Main nav (header)
    <div class="code-reveal">
        <a class="text-link reveal reveal-code collapsed" role="button" data-toggle="collapse" href="#main-nav-reveal" aria-expanded="false" aria-controls="main-nav-reveal">
        See code
        </a>
        <div class="collapse exampleCode" id="main-nav-reveal">
            <pre>
                <code class="line-numbers language-markup">
                &lt;
                </code>
            </pre>
        </div>
    </div>
</div>
<h2 class="heading-medium" id="footer-nav">Footer nav</h2>
<div class="example">
    Footer nav
    <div class="code-reveal">
        <a class="text-link reveal reveal-code collapsed" role="button" data-toggle="collapse" href="#footer-nav-reveal" aria-expanded="false" aria-controls="footer-nav-reveal">
        See code
        </a>
        <div class="collapse exampleCode" id="footer-nav-reveal">
            <pre>
                <code class="line-numbers language-markup">
                &lt;
                </code>
            </pre>
        </div>
    </div>
</div>
<h2 class="heading-medium" id="breadcrumb">Breadcrumb</h2>
<div class="example">
    Breadcrumb
    <div class="code-reveal">
        <a class="text-link reveal reveal-code collapsed" role="button" data-toggle="collapse" href="#breadcrumb-reveal" aria-expanded="false" aria-controls="breadcrumb-reveal">
        See code
        </a>
        <div class="collapse exampleCode" id="breadcrumb-reveal">
            <pre>
                <code class="line-numbers language-markup">
                &lt;
                </code>
            </pre>
        </div>
    </div>
</div>
<h2 class="heading-medium" id="page-nav">Page nav (pods)</h2>
<div class="example">
    Page nav (pods)
    <div class="code-reveal">
        <a class="text-link reveal reveal-code collapsed" role="button" data-toggle="collapse" href="#page-nav-reveal" aria-expanded="false" aria-controls="page-nav-reveal">
        See code
        </a>
        <div class="collapse exampleCode" id="page-nav-reveal">
            <pre>
                <code class="line-numbers language-markup">
                &lt;
                </code>
            </pre>
        </div>
    </div>
</div>
<h2 class="heading-medium" id="sub-section-nav">Sub-section nav</h2>
<div class="example">
    Sub-section nav
    <div class="code-reveal">
        <a class="text-link reveal reveal-code collapsed" role="button" data-toggle="collapse" href="#sub-section-nav-reveal" aria-expanded="false" aria-controls="sub-section-nav-reveal">
        See code
        </a>
        <div class="collapse exampleCode" id="sub-section-nav-reveal">
            <pre>
                <code class="line-numbers language-markup">
                &lt;
                </code>
            </pre>
        </div>
    </div>
</div>
<h2 class="heading-medium" id="side-nav">Side nav</h2>
<div class="example">
    Side nav
    <div class="code-reveal">
        <a class="text-link reveal reveal-code collapsed" role="button" data-toggle="collapse" href="#side-nav-reveal" aria-expanded="false" aria-controls="side-nav-reveal">
        See code
        </a>
        <div class="collapse exampleCode" id="side-nav-reveal">
            <pre>
                <code class="line-numbers language-markup">
                &lt;
                </code>
            </pre>
        </div>
    </div>
</div>
<h2 class="heading-medium" id="related-pages">Related pages</h2>
<div class="example">
    Related pages
    <div class="code-reveal">
        <a class="text-link reveal reveal-code collapsed" role="button" data-toggle="collapse" href="#related-pages-reveal" aria-expanded="false" aria-controls="related-pages-reveal">
        See code
        </a>
        <div class="collapse exampleCode" id="related-pages-reveal">
            <pre>
                <code class="line-numbers language-markup">
                &lt;
                </code>
            </pre>
        </div>
    </div>
</div>
<h2 class="heading-medium" id="journey-page">Journey page</h2>
<h3 class="heading-small">Journey page nav</h3>
<h3 class="heading-small">Journey page content</h3>
<h3 class="heading-small">Journey page pagination</h3>
<div class="example">
    Journey page
    <div class="code-reveal">
        <a class="text-link reveal reveal-code collapsed" role="button" data-toggle="collapse" href="#journey-page-reveal" aria-expanded="false" aria-controls="journey-page-reveal">
        See code
        </a>
        <div class="collapse exampleCode" id="journey-page-reveal">
            <pre>
                <code class="line-numbers language-markup">
                &lt;
                </code>
            </pre>
        </div>
    </div>
</div>
{% endblock %}

{% block sectionOneRightHandColumn %}

{% endblock %}

{% block sectionLeftHandColumn %}

{% endblock %}

{% block sectionOneRightContent %}

{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reusablecontent_footer %}
    {% include "includes/footer-styleguide.html" %}
 {% endblock %}