{% extends "page-layout-styleguide.html" %}

{% block page_title %}
	LEEDS.GOV.UK - Style guide and design patterns
{% endblock %}


  {% block css_register %}
  <script src="https://use.typekit.net/pws7qio.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
  Style guide & design patterns
{% endblock %}

 {% block main_nav %}
  {% include "includes/main_nav.html" %}
 {% endblock %}



 {% block sectionOneTop %}
 {% include "includes/beta-banner-internal.html" %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block pageContent %}
{% endblock %}

{% block sectionOneFullBottom %}
  <div class="text">
    <p class="lead top">These guides show how to add content to LEEDS.GOV.UK.</p>
  </div>
  <div class="row">
    <div class="col-lg-12">
      {% include "includes/design-system/styleguide-nav.html" %}
    </div>
  </div>
{% endblock %}

{% block sectionOneRightHandColumn %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reusablecontent_footer %}
     {% include "includes/footer-styleguide.html" %}
 {% endblock %}