{% extends "design-system-page-layout-landing.html" %}

{% set section_id = "styles" %} <!-- Section id var for main nav --> 
{% set page_title = "Styles" %} <!-- Page title var for page header (H1) and page title -->       

{% block sectionOneTop %}{% endblock %}

{% block sectionLeftHandColumn %}
    <!-- Side nav include -->  
    {% include "includes/design-system/design-system-side-nav.html" %}
{% endblock %}

{% block sectionOneRightContent %}
{% endblock %}

{% block sectionOneFull %}

<div class="page-header-section">
    <h1>{{ page_title }}</h1>
    <p class="lead">Guides for applying layout, typography, color and images.</p>
</div>

<!-- Page content goes here -->
<div class="design-system-landing-page-menu">
        {% include "includes/design-system/design-system-side-nav-styles.html" %}
</div>

{% endblock %}
