{% extends "design-system-page-layout-guide.html" %}

{% set section_id = "patterns" %} <!-- Section id var for main nav --> 
{% set section_name = "Ask users for..." %} <!-- Section id var for main nav --> 
{% set page_id = "addresses" %} <!-- Page id var for side nav --> 
{% set page_title = "Addresses" %} <!-- Page title var for page header (H1) and page title -->  

{% block sectionOneTop %}{% endblock %}

{% block sectionLeftHandColumn %}
    <!-- Side nav include -->  
    {% include "includes/design-system/design-system-side-nav.html" %}
{% endblock %}

{% block sectionOneRightContent %}
<div class="page-header-section">
    <h1><span>{{ section_name }}</span> {{ page_title }}</h1>
    <p class="lead"></p>
</div>

<!-- Page content goes here -->

<div class="contents-box">
    <h2 class="heading-contents">Contents</h2>
    <ul class="list list-contents">
        <li><a href="#"></a></li>
    </ul>
</div>

<div class="example">
    <div class="col-md-8">
        <h1 class="heading-large">What is your address?</h1>
        <form>
            <fieldset>
                <legend class="sr-only">What is your address?</legend>
                <label class="form-label form-label-bold" for="search-group-example">Enter a postcode <span class="form-hint">For example LS6 2SB</span></label>
                <div class="input-group search-group postcode-lookup" role="search">
                    <input id="search-group-example" type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn" type="button">Find</button>
                    </span>
                </div>
                <a class="search-group-link" target="_blank" id="postcode-finder-link" rel="external" href="http://www.royalmail.com/find-a-postcode">Find a postcode on Royal Mail's postcode finder</a>
            </fieldset>
        </form>
    </div>
</div>

<div class="example">
    <div class="col-md-8">
        <h1 class="heading-large">What is your address?</h1>
        <form class="panel">
            <fieldset>
                <legend class="sr-only">What is your address?</legend>
                <label class="form-label form-label-large" for="search-group-panel-example">Enter a postcode <span class="form-hint">For example LS6 2SB</span></label>
                <div class="input-group search-group postcode-lookup" role="search">
                    <input id="search-group-panel-example" type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn" type="button">Find</button>
                    </span>
                </div>
                <a class="search-group-link" target="_blank" id="postcode-finder-link" rel="external" href="http://www.royalmail.com/find-a-postcode">Find a postcode on Royal Mail's postcode finder</a>
            </fieldset>
        </form>
    </div>
</div>

<div class="code-snippet">
    <h3 class="heading-mark-up">HTML Snippet <span class="sr-only">for </span></h3>
    <pre>
        <code id="snippet-" class="line-numbers language-markup">
            &lt;
        </code>
    </pre>
    <button class="clipboard" data-clipboard-target="#snippet-">
        Copy <span class="sr-only">HTML snippet for </span>
    </button>
</div>


{% endblock %}