{% extends "design-system-page-layout-guide.html" %}

{% set section_id = "patterns" %} <!-- Section id var for main nav --> 
{% set section_name = "Ask users for..." %} <!-- Section id var for main nav --> 
{% set page_id = "addresses-v2" %} <!-- Page id var for side nav --> 
{% set page_title = "Addresses (beta)" %} <!-- Page title var for page header (H1) and page title -->  

{% block sectionOneTop %}{% endblock %}

{% block sectionLeftHandColumn %}
    <!-- Side nav include -->  
    {% include "includes/design-system/design-system-side-nav.html" %}
{% endblock %}

{% block sectionOneRightContent %}
<div class="page-header-section">
    <h1><span>{{ section_name }}</span> {{ page_title }}</h1>
</div>

<!-- Page content goes here -->
<div class="contents-box">
    <h2 class="heading-contents">Contents</h2>
    <ul class="list list-contents">
        <li><a href="#address-input">Manual address input</a></li>
        <li><a href="#address-list">Address list</a></li>
    </ul>
</div>


<h3 id="address-input">Manual input of address details</h3>
<div class="example">
    <span class="example-title">Example</span>
    <div class="">
        <h1 class="heading-large">Address Details</h1>
        <form>
            <fieldset>
                <!-- <h1 class="heading-large">Address</h1> -->
                <div class="form-group">
                    <label class="form-label form-label-bold" for="address-line-1">Address Line 1</label>
                    <input data-val="true" data-val-required="Please Enter an address line 1" id="address-line-1" name="address-line-1" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label class="form-label form-label-bold" for="address-line-2">Address Line 2</label>
                    <input data-val="true" id="address-line-2" name="address-line-2" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label class="form-label form-label-bold" for="town-or-city">Town or City</label>
                    <input data-val="true" data-val-required="Please enter a Town or City" id="town-or-city" name="town-or-city" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label class="form-label form-label-bold" for="postcode">Enter your postcode</label>
                    <input data-val="true" data-val-required="Please enter a valid Leeds postcode e.g. LS6 2SB" id="postcode" name="postcode" type="text" class="form-control">
                </div>
            </fieldset>

            <!-- <h3 class="">Date moved in</h3> -->
            <div class="form-group">
                <fieldset>
                    <legend>
                        <span class="form-label-bold">Date moved in</span>
                        <span class="form-hint">For example, 31 3 1980</span>
                    </legend>
                    <div class="form-date">
                        <div class="form-group form-group-day">
                            <label class="form-label" for="dmi-day">Day</label>
                            <input class="form-control" id="dmi-day" name="dmi-day" type="text" inputmode="numeric" pattern="[0-9]*" min="0" max="31">
                        </div>
                        <div class="form-group form-group-month">
                            <label class="form-label" for="dmi-month">Month</label>
                            <input class="form-control" id="dmi-month" name="dmi-month" type="text" inputmode="numeric" pattern="[0-9]*" min="0" max="12">
                        </div>
                        <div class="form-group form-group-year">
                            <label class="form-label" for="dmi-year">Year</label>
                            <input class="form-control" id="dmi-year" name="dmi-year" type="text" inputmode="numeric" pattern="[0-9]*" min="0" max="2019">
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="form-group">
                <fieldset>
                    <legend>
                        <span class="form-label-bold">Date moved out</span>
                        <span class="form-hint">For example, 31 3 1980</span>
                    </legend>
                    <div class="form-date">
                        <div class="form-group form-group-day">
                            <label class="form-label" for="dmo-day">Day</label>
                            <input class="form-control" id="dmo-day" name="dmo-day" type="text" inputmode="numeric" pattern="[0-9]*" min="0" max="31">
                        </div>
                        <div class="form-group form-group-month">
                            <label class="form-label" for="dmo-month">Month</label>
                            <input class="form-control" id="dmo-month" name="dmo-month" type="text" inputmode="numeric" pattern="[0-9]*" min="0" max="12">
                        </div>
                        <div class="form-group form-group-year">
                            <label class="form-label" for="dmo-year">Year</label>
                            <input class="form-control" id="dmo-year" name="dmo-year" type="text" inputmode="numeric" pattern="[0-9]*" min="0" max="2019">
                        </div>
                    </div>
                </fieldset>
            </div>

            <button class="btn btn-primary" type="button">Add Address</button>
        </form>
    </div>
</div>
<div class="code-snippet">
    <h3 class="heading-mark-up">HTML Snippet <span class="sr-only">for manual address</span></h3>
    <pre>
        <code id="snippet-manual-address" class="line-numbers language-markup">
            &lt;h1 class="heading-large">Address Details&lt;/h1>
            &lt;form>
                &lt;fieldset>
                    &lt;div class="form-group">
                        &lt;label class="form-label form-label-bold" for="address-line-1">Address Line 1&lt;/label>
                        &lt;input data-val="true" data-val-required="Please Enter an address line 1" id="address-line-1" name="address-line-1" type="text" class="form-control">
                    &lt;/div>
                    &lt;div class="form-group">
                        &lt;label class="form-label form-label-bold" for="address-line-2">Address Line 2&lt;/label>
                        &lt;input data-val="true" data-val-required="Please Enter an address line 2" id="address-line-2" name="address-line-2" type="text" class="form-control">
                    &lt;/div>
                    &lt;div class="form-group">
                        &lt;label class="form-label form-label-bold" for="town-or-city">Town or City&lt;/label>
                        &lt;input data-val="true" data-val-required="Please enter a Town or City" id="town-or-city" name="town-or-city" type="text" class="form-control">
                    &lt;/div>
                    &lt;div class="form-group">
                        &lt;label class="form-label form-label-bold" for="postcode">Enter your postcode&lt;/label>
                        &lt;input data-val="true" data-val-required="Please enter a valid Leeds postcode e.g. LS6 2SB" id="postcode" name="postcode" type="text" class="form-control">
                    &lt;/div>
                &lt;/fieldset>

                &lt;div class="form-group">
                    &lt;fieldset>
                        &lt;legend>
                            &lt;span class="form-label-bold">Date moved in&lt;/span>
                            &lt;span class="form-hint">For example, 31 3 1980&lt;/span>
                        &lt;/legend>
                        &lt;div class="form-date">
                            &lt;div class="form-group form-group-day">
                                &lt;label class="form-label" for="dmi-day">Day&lt;/label>
                                &lt;input class="form-control" id="dmi-day" name="dmi-day" type="text" inputmode="numeric" pattern="[0-9]*" min="0" max="31">
                            &lt;/div>
                            &lt;div class="form-group form-group-month">
                                &lt;label class="form-label" for="dmi-month">Month&lt;/label>
                                &lt;input class="form-control" id="dmi-month" name="dmi-month" type="text" inputmode="numeric" pattern="[0-9]*" min="0" max="12">
                            &lt;/div>
                            &lt;div class="form-group form-group-year">
                                &lt;label class="form-label" for="dmi-year">Year&lt;/label>
                                &lt;input class="form-control" id="dmi-year" name="dmi-year" type="text" inputmode="numeric" pattern="[0-9]*" min="0" max="2019">
                            &lt;/div>
                        &lt;/div>
                    &lt;/fieldset>
                &lt;/div>
    
                &lt;div class="form-group">
                    &lt;fieldset>
                        &lt;legend>
                            &lt;span class="form-label-bold">Date moved out&lt;/span>
                            &lt;span class="form-hint">For example, 31 3 1980&lt;/span>
                        &lt;/legend>
                        &lt;div class="form-date">
                            &lt;div class="form-group form-group-day">
                                &lt;label class="form-label" for="dmo-day">Day&lt;/label>
                                &lt;input class="form-control" id="dmo-day" name="dmo-day" type="text" inputmode="numeric" pattern="[0-9]*" min="0" max="31">
                            &lt;/div>
                            &lt;div class="form-group form-group-month">
                                &lt;label class="form-label" for="dmo-month">Month&lt;/label>
                                &lt;input class="form-control" id="dmo-month" name="dmo-month" type="text" inputmode="numeric" pattern="[0-9]*" min="0" max="12">
                            &lt;/div>
                            &lt;div class="form-group form-group-year">
                                &lt;label class="form-label" for="dmo-year">Year&lt;/label>
                                &lt;input class="form-control" id="dmo-year" name="dmo-year" type="text" inputmode="numeric" pattern="[0-9]*" min="0" max="2019">
                            &lt;/div>
                        &lt;/div>
                    &lt;/fieldset>
                &lt;/div>


                &lt;button class="btn btn-primary" type="button">Add Address&lt;/button>
            &lt;/form>
        </code>
    </pre>
    <button class="clipboard" data-clipboard-target="#snippet-address-lookup-step-one">
        Copy <span class="sr-only">HTML snippet for </span>
    </button>
</div>


<h3 id="address-list">Address list</h3>
<div class="example">
    <span class="example-title">Example</span>
    <h1 class="heading-large">Previous addresses</h1>

    <div class="address__headings">            
        <h3>Address</h3>            
        <h3>Date moved in</h3>            
        <h3>Date moved out</h3>
    </div>

    <form class="address disabledInput">
        
        <!--address-->
        <div class="address__group">
        <h3 class="mobileEnabled">Address</h3>
        <fieldset class="disabled">
            <div class="form-group">
                <label class="form-label form-label-bold sr-only" for="address-line-1">Address Line 1</label>
                <input disabled data-val="true" data-val-required="Please Enter an address line 1" id="address-line-1" name="address-line-1" type="text" class="form-control" placeholder="Address Line 1" value="1 Rawling Way">
            </div>
            <div class="form-group">
                <label class="form-label form-label-bold sr-only" for="address-line-2">Address Line 2</label>
                <input disabled data-val="true" id="address-line-2" name="address-line-2" type="text" class="form-control" value="Headingley" placeholder="Address Line 2">
            </div>
            <div class="form-group">
                <label class="form-label form-label-bold sr-only" for="town-or-city">Town or City</label>
                <input disabled data-val="true" data-val-required="Please enter a Town or City" id="town-or-city" name="town-or-city" type="text" class="form-control" placeholder="Leeds" value="Leeds">
            </div>
            <div class="form-group">
                <label class="form-label form-label-bold sr-only" for="postcode">Enter your postcode</label>
                <input disabled data-val="true" data-val-required="Please enter a valid Leeds postcode e.g. LS6 2SB" id="postcode" name="postcode" type="text" class="form-control" placeholder="Post code" value="LS6 2SB">
            </div>
        </fieldset>
        </div>

        <!--date moved in-->
        <div class="address__group">
        <h3 class="mobileEnabled">Date moved in</h3>
        <fieldset class="disabled">
            <div class="form-date">
                <div class="form-group form-group-day">
                    <label class="form-label sr-only" for="dmi-day">Day</label>
                    <input class="form-control" id="dmi-day" name="dmi-day" type="text" inputmode="numeric" placeholder="D" pattern="[0-9]*" min="0" max="31" value="01" disabled>
                </div>
                <div class="form-group form-group-month">
                    <label class="form-label sr-only" for="dmi-month">Month</label>
                    <input class="form-control" id="dmi-month" name="dmi-month" type="text" inputmode="numeric" placeholder="M" pattern="[0-9]*" min="0" max="12" value="01" disabled>
                </div>
                <div class="form-group form-group-year">
                    <label class="form-label sr-only" for="dmi-year">Year</label>
                    <input class="form-control" id="dmi-year" name="dmi-year" type="text" inputmode="numeric" placeholder="Y" pattern="[0-9]*" min="0" max="2016" value="2020" disabled>
                </div>
            </div>
        </fieldset>
        </div>

        <!--date moved out-->
        <div class="address__group">
        <h3 class="mobileEnabled">Date moved out</h3>
        <fieldset class="disabled">
            <div class="form-date">
                <div class="form-group form-group-day">
                    <label class="form-label sr-only" for="dmo-day">Day</label>
                    <input class="form-control" id="dmo-day" name="dmo-day" type="text" inputmode="numeric" placeholder="D" pattern="[0-9]*" min="0" max="31" value="01" disabled>
                </div>
                <div class="form-group form-group-month">
                    <label class="form-label sr-only" for="dmo-month">Month</label>
                    <input class="form-control" id="dmo-month" name="dmo-month" type="text" inputmode="numeric" placeholder="M" pattern="[0-9]*" min="0" max="12" value="01" disabled>
                </div>
                <div class="form-group form-group-year">
                    <label class="form-label sr-only" for="dmo-year">Year</label>
                    <input class="form-control" id="dmo-year" name="dmo-year" type="text" inputmode="numeric" placeholder="Y" pattern="[0-9]*" min="0" max="2016" value="2021" disabled>
                </div>
            </div>
        </fieldset>
        </div>

        <!--edit/remove-->
        <div class="address__group address__group--full">
            <a href="#" class="form-group-link address--edit" type="button">Edit</a> / <a href="#" class="form-group-link address--remove" type="button">Remove</a>
        </div>
    </form>

    <hr/>

    <form class="address disabledInput">
        
        <!--address-->
        <div class="address__group">
        <h3 class="mobileEnabled">Address</h3>
        <fieldset class="disabled">
            <div class="form-group">
                <label class="form-label form-label-bold sr-only" for="address-line-1">Address Line 1</label>
                <input disabled data-val="true" data-val-required="Please Enter an address line 1" id="address-line-1" name="address-line-1" type="text" class="form-control" placeholder="Address Line 1" value="1 Rawling Way">
            </div>
            <div class="form-group">
                <label class="form-label form-label-bold sr-only" for="address-line-2">Address Line 2</label>
                <input disabled data-val="true" id="address-line-2" name="address-line-2" type="text" class="form-control" value="Headingley" placeholder="Address Line 2">
            </div>
            <div class="form-group">
                <label class="form-label form-label-bold sr-only" for="town-or-city">Town or City</label>
                <input disabled data-val="true" data-val-required="Please enter a Town or City" id="town-or-city" name="town-or-city" type="text" class="form-control" placeholder="Leeds" value="Leeds">
            </div>
            <div class="form-group">
                <label class="form-label form-label-bold sr-only" for="postcode">Enter your postcode</label>
                <input disabled data-val="true" data-val-required="Please enter a valid Leeds postcode e.g. LS6 2SB" id="postcode" name="postcode" type="text" class="form-control" placeholder="LS6 2SB" value="LS6 2SB">
            </div>
        </fieldset>
        </div>

        <!--date moved in-->
        <div class="address__group">
        <h3 class="mobileEnabled">Date moved in</h3>
        <fieldset class="disabled">
            <div class="form-date">
                <div class="form-group form-group-day">
                    <label class="form-label sr-only" for="dmi-day">Day</label>
                    <input class="form-control" id="dmi-day" name="dmi-day" type="text" inputmode="numeric" pattern="[0-9]*" min="0" max="31" value="01" disabled>
                </div>
                <div class="form-group form-group-month">
                    <label class="form-label sr-only" for="dmi-month">Month</label>
                    <input class="form-control" id="dmi-month" name="dmi-month" type="text" inputmode="numeric" pattern="[0-9]*" min="0" max="12" value="01" disabled>
                </div>
                <div class="form-group form-group-year">
                    <label class="form-label sr-only" for="dmi-year">Year</label>
                    <input class="form-control" id="dmi-year" name="dmi-year" type="text" inputmode="numeric" pattern="[0-9]*" min="0" max="2016" value="2020" disabled>
                </div>
            </div>
        </fieldset>
        </div>

        <!--date moved out-->
        <div class="address__group">
        <h3 class="mobileEnabled">Date moved out</h3>
        <fieldset class="disabled">
            <div class="form-date">
                <div class="form-group form-group-day">
                    <label class="form-label sr-only" for="dmo-day">Day</label>
                    <input class="form-control" id="dmo-day" name="dmo-day" type="text" inputmode="numeric" pattern="[0-9]*" min="0" max="31" value="01" disabled>
                </div>
                <div class="form-group form-group-month">
                    <label class="form-label sr-only" for="dmo-month">Month</label>
                    <input class="form-control" id="dmo-month" name="dmo-month" type="text" inputmode="numeric" pattern="[0-9]*" min="0" max="12" value="01" disabled>
                </div>
                <div class="form-group form-group-year">
                    <label class="form-label sr-only" for="dmo-year">Year</label>
                    <input class="form-control" id="dmo-year" name="dmo-year" type="text" inputmode="numeric" pattern="[0-9]*" min="0" max="2016" value="2021" disabled>
                </div>
            </div>
        </fieldset>
        </div>

        <!--edit/remove-->
        <div class="address__group address__group--full">
            <a href="#" class="form-group-link address--edit" type="button">Edit</a> / <a href="#" class="form-group-link address--remove" type="button">Remove</a>
        </div>
    </form>

    <hr/>

   <button class="btn btn-primary" type="button">Continue</button>


</div>

<div class="code-snippet">
        <h3 class="heading-mark-up">HTML Snippet <span class="sr-only">for address lookup step two</span></h3>
        <pre>
            <code id="snippet-address-lookup-step-two" class="line-numbers language-markup">
                &lt;h1 class="heading-large">Previous addresses&lt;/h1>

                &lt;div class="address__headings">            
                    &lt;h3>Address&lt;/h3>            
                    &lt;h3>Date moved in&lt;/h3>            
                    &lt;h3>Date moved out&lt;/h3>
                &lt;/div>

                &lt;form class="address disabledInput">
                    
                    &lt;div class="address__group">
                    &lt;h3 class="mobileEnabled">Address&lt;/h3>
                    &lt;fieldset class="disabled">
                        &lt;div class="form-group">
                            &lt;label class="form-label form-label-bold sr-only" for="address-line-1">Address Line 1&lt;/label>
                            &lt;input disabled data-val="true" data-val-required="Please Enter an address line 1" id="address-line-1" name="address-line-1" type="text" class="form-control" placeholder="Address Line 1" value="1 Rawling Way">
                        &lt;/div>
                        &lt;div class="form-group">
                            &lt;label class="form-label form-label-bold sr-only" for="address-line-2">Address Line 2&lt;/label>
                            &lt;input disabled data-val="true" id="address-line-2" name="address-line-2" type="text" class="form-control" value="Headingley" placeholder="Address Line 2">
                        &lt;/div>
                        &lt;div class="form-group">
                            &lt;label class="form-label form-label-bold sr-only" for="town-or-city">Town or City&lt;/label>
                            &lt;input disabled data-val="true" data-val-required="Please enter a Town or City" id="town-or-city" name="town-or-city" type="text" class="form-control" placeholder="Leeds" value="Leeds">
                        &lt;/div>
                        &lt;div class="form-group">
                            &lt;label class="form-label form-label-bold sr-only" for="postcode">Enter your postcode&lt;/label>
                            &lt;input disabled data-val="true" data-val-required="Please enter a valid Leeds postcode e.g. LS6 2SB" id="postcode" name="postcode" type="text" class="form-control" placeholder="Post code" value="LS6 2SB">
                        &lt;/div>
                    &lt;/fieldset>
                    &lt;/div>

                    &lt;div class="address__group">
                    &lt;h3 class="mobileEnabled">Date moved in&lt;/h3>
                    &lt;fieldset class="disabled">
                        &lt;div class="form-date">
                            &lt;div class="form-group form-group-day">
                                &lt;label class="form-label sr-only" for="dmi-day">Day&lt;/label>
                                &lt;input class="form-control" id="dmi-day" name="dmi-day" type="text" inputmode="numeric" placeholder="D" pattern="[0-9]*" min="0" max="31" value="01" disabled>
                            &lt;/div>
                            &lt;div class="form-group form-group-month">
                                &lt;label class="form-label sr-only" for="dmi-month">Month&lt;/label>
                                &lt;input class="form-control" id="dmi-month" name="dmi-month" type="text" inputmode="numeric" placeholder="M" pattern="[0-9]*" min="0" max="12" value="01" disabled>
                            &lt;/div>
                            &lt;div class="form-group form-group-year">
                                &lt;label class="form-label sr-only" for="dmi-year">Year&lt;/label>
                                &lt;input class="form-control" id="dmi-year" name="dmi-year" type="text" inputmode="numeric" placeholder="Y" pattern="[0-9]*" min="0" max="2016" value="2020" disabled>
                            &lt;/div>
                        &lt;/div>
                    &lt;/fieldset>
                    &lt;/div>

                    &lt;div class="address__group">
                    &lt;h3 class="mobileEnabled">Date moved out&lt;/h3>
                    &lt;fieldset class="disabled">
                        &lt;div class="form-date">
                            &lt;div class="form-group form-group-day">
                                &lt;label class="form-label sr-only" for="dmo-day">Day&lt;/label>
                                &lt;input class="form-control" id="dmo-day" name="dmo-day" type="text" inputmode="numeric" placeholder="D" pattern="[0-9]*" min="0" max="31" value="01" disabled>
                            &lt;/div>
                            &lt;div class="form-group form-group-month">
                                &lt;label class="form-label sr-only" for="dmo-month">Month&lt;/label>
                                &lt;input class="form-control" id="dmo-month" name="dmo-month" type="text" inputmode="numeric" placeholder="M" pattern="[0-9]*" min="0" max="12" value="01" disabled>
                            &lt;/div>
                            &lt;div class="form-group form-group-year">
                                &lt;label class="form-label sr-only" for="dmo-year">Year&lt;/label>
                                &lt;input class="form-control" id="dmo-year" name="dmo-year" type="text" inputmode="numeric" placeholder="Y" pattern="[0-9]*" min="0" max="2016" value="2021" disabled>
                            &lt;/div>
                        &lt;/div>
                    &lt;/fieldset>
                    &lt;/div>

                    &lt;div class="address__group address__group--full">
                        &lt;a href="#" class="form-group-link address--edit" type="button">Edit&lt;/a> / &lt;a href="#" class="form-group-link address--remove" type="button">Remove&lt;/a>
                    &lt;/div>
                &lt;/form>

                &lt;hr/>

                &lt;form class="address disabledInput">
                    
                    &lt;div class="address__group">
                    &lt;h3 class="mobileEnabled">Address&lt;/h3>
                    &lt;fieldset class="disabled">
                        &lt;div class="form-group">
                            &lt;label class="form-label form-label-bold sr-only" for="address-line-1">Address Line 1&lt;/label>
                            &lt;input disabled data-val="true" data-val-required="Please Enter an address line 1" id="address-line-1" name="address-line-1" type="text" class="form-control" placeholder="Address Line 1" value="1 Rawling Way">
                        &lt;/div>
                        &lt;div class="form-group">
                            &lt;label class="form-label form-label-bold sr-only" for="address-line-2">Address Line 2&lt;/label>
                            &lt;input disabled data-val="true" id="address-line-2" name="address-line-2" type="text" class="form-control" value="Headingley" placeholder="Address Line 2">
                        &lt;/div>
                        &lt;div class="form-group">
                            &lt;label class="form-label form-label-bold sr-only" for="town-or-city">Town or City&lt;/label>
                            &lt;input disabled data-val="true" data-val-required="Please enter a Town or City" id="town-or-city" name="town-or-city" type="text" class="form-control" placeholder="Leeds" value="Leeds">
                        &lt;/div>
                        &lt;div class="form-group">
                            &lt;label class="form-label form-label-bold sr-only" for="postcode">Enter your postcode&lt;/label>
                            &lt;input disabled data-val="true" data-val-required="Please enter a valid Leeds postcode e.g. LS6 2SB" id="postcode" name="postcode" type="text" class="form-control" placeholder="LS6 2SB" value="LS6 2SB">
                        &lt;/div>
                    &lt;/fieldset>
                    &lt;/div>

                    &lt;div class="address__group">
                    &lt;h3 class="mobileEnabled">Date moved in&lt;/h3>
                    &lt;fieldset class="disabled">
                        &lt;div class="form-date">
                            &lt;div class="form-group form-group-day">
                                &lt;label class="form-label sr-only" for="dmi-day">Day&lt;/label>
                                &lt;input class="form-control" id="dmi-day" name="dmi-day" type="text" inputmode="numeric" pattern="[0-9]*" min="0" max="31" value="01" disabled>
                            &lt;/div>
                            &lt;div class="form-group form-group-month">
                                &lt;label class="form-label sr-only" for="dmi-month">Month&lt;/label>
                                &lt;input class="form-control" id="dmi-month" name="dmi-month" type="text" inputmode="numeric" pattern="[0-9]*" min="0" max="12" value="01" disabled>
                            &lt;/div>
                            &lt;div class="form-group form-group-year">
                                &lt;label class="form-label sr-only" for="dmi-year">Year&lt;/label>
                                &lt;input class="form-control" id="dmi-year" name="dmi-year" type="text" inputmode="numeric" pattern="[0-9]*" min="0" max="2016" value="2020" disabled>
                            &lt;/div>
                        &lt;/div>
                    &lt;/fieldset>
                    &lt;/div>

                    &lt;div class="address__group">
                    &lt;h3 class="mobileEnabled">Date moved out&lt;/h3>
                    &lt;fieldset class="disabled">
                        &lt;div class="form-date">
                            &lt;div class="form-group form-group-day">
                                &lt;label class="form-label sr-only" for="dmo-day">Day&lt;/label>
                                &lt;input class="form-control" id="dmo-day" name="dmo-day" type="text" inputmode="numeric" pattern="[0-9]*" min="0" max="31" value="01" disabled>
                            &lt;/div>
                            &lt;div class="form-group form-group-month">
                                &lt;label class="form-label sr-only" for="dmo-month">Month&lt;/label>
                                &lt;input class="form-control" id="dmo-month" name="dmo-month" type="text" inputmode="numeric" pattern="[0-9]*" min="0" max="12" value="01" disabled>
                            &lt;/div>
                            &lt;div class="form-group form-group-year">
                                &lt;label class="form-label sr-only" for="dmo-year">Year&lt;/label>
                                &lt;input class="form-control" id="dmo-year" name="dmo-year" type="text" inputmode="numeric" pattern="[0-9]*" min="0" max="2016" value="2021" disabled>
                            &lt;/div>
                        &lt;/div>
                    &lt;/fieldset>
                    &lt;/div>

                    &lt;div class="address__group address__group--full">
                        &lt;a href="#" class="form-group-link address--edit" type="button">Edit&lt;/a> / &lt;a href="#" class="form-group-link address--remove" type="button">Remove&lt;/a>
                    &lt;/div>
                &lt;/form>

                &lt;hr/>

                &lt;button class="btn btn-primary" type="button">Continue&lt;/button>
            </code>
        </pre>
        <button class="clipboard" data-clipboard-target="#snippet-address-lookup-step-two">
            Copy <span class="sr-only">HTML snippet for </span>
        </button>
    </div>

{% endblock %}