{% extends "design-system-page-layout-guide.html" %}

{% set section_id = "patterns" %} <!-- Section id var for main nav --> 
{% set section_name = "Ask users for..." %} <!-- Section id var for main nav --> 
{% set page_id = "gender-and-sex-v2" %} <!-- Page id var for side nav --> 
{% set page_title = "Gender and Sex" %} <!-- Page title var for page header (H1) and page title -->  

{% block sectionOneTop %}{% endblock %}

{% block sectionLeftHandColumn %}
    <!-- Side nav include -->  
    {% include "includes/design-system/design-system-side-nav.html" %}
{% endblock %}

{% block sectionOneRightContent %}
<div class="page-header-section">
    <h1><span>{{ section_name }}</span> {{ page_title }}</h1>
    <p class="lead">You should only ask about gender or sex if you can’t deliver your service without this information.</p>
</div>

<!-- Page content goes here -->

<div class="contents-box">
    <h2 class="heading-contents">Contents</h2>
    <ul class="list list-contents">
        <li><a href="#example">Example of how to ask about gender and sex</a></li>
        <li><a href="#sab">Example of how to ask about sex assigned at birth</a></li>
        <li><a href="#avoid-using-pronouns">Avoid using pronouns</a></li>
        <li><a href="#dont-use-titles-to-guess-gender">Don’t use titles to guess gender</a></li>
    </ul>
</div>

<div class="text">
    <p class="top">If you do need to ask, use ‘sex’ when you need biological data (for example, if you’re providing a medical service). In all other cases, use ‘gender’.</p>
    <p id="example">Here’s an example of how to ask about gender:</p>
</div>

<div class="example">
    <span class="example-title">Example</span>
    <h1 class="heading-large">What is your gender?</h1>
    <form>
        <div class="form-group">
            <span class="error-message">Choose an answer</span>

            <div class="form-group--radio">
                <input type="radio" id="radio-1" name="level0" value="Female (including Trans Female)" aria-controls="radio-1">
                <label class="form-label form-label-bold form-label-large form-label-radio" for="radio-1">Female (including Trans Female)</label>
            </div>

            <div class="form-group--radio">
                <input type="radio" id="radio-2" name="level0" value="Male (including Trans Male)" aria-controls="radio-2">
                <label class="form-label form-label-bold form-label-large form-label-radio" for="radio-2">Male (including Trans Male)</label>
            </div>

            <div class="form-group--radio">
                <input type="radio" id="radio-3" name="level0" value="Other" aria-controls="radio-3">
                <label class="form-label form-label-bold form-label-large form-label-radio" for="radio-3">Other - please write below</label>

                <div class="panel panel-border-narrow js-hidden" id="other-gender">
                    <label class="form-label" for="other-gender">Other </label>
                    <input class="form-control" name="other-gender" type="text" id="other-gender">
                </div>
            </div>
            
            <div class="form-group--radio">
                <input type="radio" id="radio-4" name="level0" value="I prefer not to say" aria-controls="radio-4">
                <label class="form-label form-label-bold form-label-large form-label-radio" for="radio-4">I prefer not to say</label>
            </div>
        </div>
    </form>
</div>

<div class="code-snippet">
    <h3 class="heading-mark-up">HTML Snippet <span class="sr-only">for Gender and sex</span></h3>
    <pre>
        <code id="snippet-gender-sex" class="line-numbers language-markup">
            &lt;h1 class="heading-large">What is your gender?&lt;/h1>
            &lt;form>
                &lt;div class="form-group">
                    &lt;span class="error-message">Choose an answer&lt;/span>

                    &lt;div class="form-group--radio">
                        &lt;input type="radio" id="radio-1" name="level0" value="Female (including Trans Female)" aria-controls="radio-1">
                        &lt;label class="form-label form-label-bold form-label-large form-label-radio" for="radio-1">Female (including Trans Female)&lt;/label>
                    &lt;/div>

                    &lt;div class="form-group--radio">
                        &lt;input type="radio" id="radio-2" name="level0" value="Male (including Trans Male)" aria-controls="radio-2">
                        &lt;label class="form-label form-label-bold form-label-large form-label-radio" for="radio-2">Male (including Trans Male)&lt;/label>
                    &lt;/div>

                    &lt;div class="form-group--radio">
                        &lt;input type="radio" id="radio-3" name="level0" value="Other" aria-controls="radio-3">
                        &lt;label class="form-label form-label-bold form-label-large form-label-radio" for="radio-3">Other - please write below&lt;/label>

                        &lt;div class="panel panel-border-narrow js-hidden" id="other-gender">
                            &lt;label class="form-label" for="other-gender">Other &lt;/label>
                            &lt;input class="form-control" name="other-gender" type="text" id="other-gender">
                        &lt;/div>
                    &lt;/div>
                    
                    &lt;div class="form-group--radio">
                        &lt;input type="radio" id="radio-4" name="level0" value="I prefer not to say" aria-controls="radio-4">
                        &lt;label class="form-label form-label-bold form-label-large form-label-radio" for="radio-4">I prefer not to say&lt;/label>
                    &lt;/div>
                &lt;/div>
            &lt;/form>
        </code>
    </pre>
    <button class="clipboard" data-clipboard-target="#snippet-gender-sex">
        Copy <span class="sr-only">HTML snippet for Gender and Sex</span>
    </button>
</div>

<div class="text">
    <p>If you have to ask about gender, you should:</p>
    <ul class="list list-bullet">
        <li>list the fields in alphabetical order</li>
        <li>do research to test that this works for your users</li>
    </ul>
</div>

<div id="sab" class="example">
    <div class="sab">
        <span class="example-title">Example</span>
        <h1 class="heading-large">Is your gender the same as the sex you were assigned at birth?</h1>
        <form>
            <div class="form-group">
                <span class="error-message">Choose an answer</span>

                <div class="form-group--radio">
                    <input type="radio" id="radio-1" name="level0" value="Yes" aria-controls="radio-1">
                    <label class="form-label form-label-bold form-label-large form-label-radio" for="radio-1">Yes</label>
                </div>

                <div class="form-group--radio">
                    <input type="radio" id="radio-2" name="level0" value="No" aria-controls="radio-2">
                    <label class="form-label form-label-bold form-label-large form-label-radio" for="radio-2">No</label>
                </div>
                
                <div class="form-group--radio">
                    <input type="radio" id="radio-3" name="level0" value="I prefer not to say" aria-controls="radio-3">
                    <label class="form-label form-label-bold form-label-large form-label-radio" for="radio-3">I prefer not to say</label>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="code-snippet">
    <h3 class="heading-mark-up">HTML Snippet <span class="sr-only">for Sex at birth</span></h3>
    <pre>
        <code id="snippet-sab" class="line-numbers language-markup">
            &lt;h1 class="heading-large">Is your gender the same as the sex you were assigned at birth?&lt;/h1>
            &lt;form>
                &lt;div class="form-group">
                    &lt;span class="error-message">Choose an answer&lt;/span>

                    &lt;div class="form-group--radio">
                        &lt;input type="radio" id="radio-1" name="level0" value="Yes" aria-controls="radio-1">
                        &lt;label class="form-label form-label-bold form-label-large form-label-radio" for="radio-1">Yes&lt;/label>
                    &lt;/div>

                    &lt;div class="form-group--radio">
                        &lt;input type="radio" id="radio-2" name="level0" value="No" aria-controls="radio-2">
                        &lt;label class="form-label form-label-bold form-label-large form-label-radio" for="radio-2">No&lt;/label>
                    &lt;/div>
                    
                    &lt;div class="form-group--radio">
                        &lt;input type="radio" id="radio-3" name="level0" value="I prefer not to say" aria-controls="radio-3">
                        &lt;label class="form-label form-label-bold form-label-large form-label-radio" for="radio-3">I prefer not to say&lt;/label>
                    &lt;/div>
                &lt;/div>
            &lt;/form>
        </code>
    </pre>
    <button class="clipboard" data-clipboard-target="#snippet-sab">
        Copy <span class="sr-only">HTML snippet for Sex at birth</span>
    </button>
</div>

<h2 id="avoid-using-pronouns">Avoid using pronouns</h2>
<div class="text">
    <p>You should address the user as ‘you’ where possible and avoid using gendered pronouns like ‘he’ and ‘she’.</p>
    <p>In some cases you may need to use pronouns, for example if your service allows people to jointly apply for something.</p>
</div>
<h2 id="dont-use-titles-to-guess-gender">Don’t use titles to guess gender</h2>
<div class="text">
    <p>You shouldn’t guess someone’s gender based on a title because:</p>
    <ul>
        <li>some titles aren’t gendered (for example Dr, Rev, Major)</li>
        <li>titles can be changed by deed poll to one that’s different from a person’s gender or sex</li>
    </ul>
</div>
{% endblock %}