.toggletip-container {
	position: relative;
	display: inline-block;
  }
  
  /* the bubble element, added inside the toggletip live region */

.tooltip__button {
	background: no-repeat;
    border: 0;
    margin: 0;
    padding: 0;
    border-bottom: dotted;
	color: #007299;
	font-size:1em;
	&:focus {
		background-color: #FFBF47 !important;
        color: #212224 !important;
        text-decoration: none;
        outline: 0;
	}
	&:hover {
		background:none !important;
		border-style:solid;
		border-color:#007299 !important;
	}
}

.toggletip-bubble {
	// display: inline-block;
	// position: absolute;
	// left: 100%;
	// top: 0;
	// width: 10em;
	// padding: 0.5rem;
	// background: #000;
	// color: #fff;

	display: inline-block;
	position: absolute;
	background: #fafafa;
	border-radius: 3px;
	border: 5px solid #007299;
	padding: 1em 1.25em;
    font-family: "Open Sans", sans-serif, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 18px;
	border-radius: 0;
	min-width:250px;
	z-index:1;

	@media screen and (min-width:400px) {
		&.push-right {
			right: 0;
			left: auto;
			top: 100%;
		}
	}

	@media screen and (max-width:400px) {
		bottom:0;
		position:fixed;
		top:auto;
	}
}

//   button {
// 	width: 2em;
// 	height: 2em;
// 	border-radius: 50%;
// 	border: 0;
// 	background: #000;
// 	font-family: serif;
// 	font-weight: bold;
// 	color: #fff;
//   } 



/*[data-tooltip] {
	display: inline-block;
	position: relative;
}

[data-tooltip-block] {
	display: block;
}

[data-tooltip-trigger], #mytooltipdiv {
    text-decoration: none;
    border-bottom: dotted;
    color:#007299;

    &:hover {
        text-decoration: none;
        border-bottom:solid;
    }

    &:focus {
        background-color: #FFBF47 !important;
        color: #212224 !important;
        text-decoration: none;
        outline: 0;
    }
}

.tooltip {
    left: 0;
    min-width: 300px;
	max-width: 450px;
	// min-width: 20ch;
	// max-width: 44ch;
	pointer-events: none;
	position: absolute;
	top: 100%;
	z-index: 2;
}

.push-up .tooltip {
	bottom: 100%;
	top: auto;
}

.push-right .tooltip {
	left: auto;
	right: 0;
}

.tooltip__content {
	background: #fafafa;
	border-radius: 3px;
	border: 5px solid #007299;
	display: inline-block;
	opacity: 0;
	padding: 1em 1.25em;
    // visibility: hidden;

    font-family: "Open Sans", sans-serif, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 18px;
    border-radius: 0;
}

.tooltip__content > * {
	margin: .5em 0;
}

.tooltip__content :last-child {
	margin-bottom: 0;
}

.tooltip__content :first-child {
	margin-top: 0;
}

.tooltip--show .tooltip__content {
	opacity: 1;
	pointer-events: auto;
	transition: opacity .15s .8s ease-in;
	visibility: visible;
}

.tooltip--show .tooltip {
    opacity: 1;
    display:block;
}

//button version
#mytooltipdiv {
    display:inline-block;
}

.tooltip__v2 {
	// position: absolute;
	// top: 100%;
	// left:0;
    // border: 2px solid black;
    // margin: 1em;
    // padding: .2em;
    // outline-offset: 3px;
	// max-width: 200px;
	
	background: #fafafa;
	border-radius: 3px;
	border: 5px solid #007299;
	padding: 1em 1.25em;
    font-family: "Open Sans", sans-serif, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 18px;
	border-radius: 0;
	position: absolute;
}
*/