{% extends "design-system-page-layout-guide.html" %}

{% set section_id = "components" %} <!-- Section id var for main nav --> 
{% set page_id = "alerts" %} <!-- Page id var for side nav --> 
{% set page_title = "Alerts" %} <!-- Page title var for page header (H1) and page title -->    

{% block sectionOneTop %}{% endblock %}

{% block sectionLeftHandColumn %}
    <!-- Side nav include -->  
    {% include "includes/design-system/design-system-side-nav.html" %}
{% endblock %}

{% block sectionOneRightContent %}
<div class="page-header-section">
    <h1>{{ page_title }}</h1>
    <p class="lead"></p>
</div>

<div class="contents-box">
    <h2 class="heading-contents">Contents</h2>
    <ul class="list list-contents">
        <li><a href="#permanent-alert">Permanent alert</a></li>
        <li><a href="#dismissable-alerts">Dismissable alert</a></li>
        <li><a href="#dismissable-announcement">Dismissable announcement</a></li>
    </ul>
</div>

<h2 id="permanent-alert" class="heading-large top">Parmanent alert</h2>
<div class="example">
  <span class="example-title">Example</span>
  <div class="alert alert-permanent" role="alert">		      
    <div class="container-fluid">		         
      <div class="alertInner">	            
        <h2>Hidden permanent alert title</h2>	                    
        <a class="btn btn-default" href="#">Permanent alert message link</a>                
      </div>		     
    </div>		   
  </div>
</div>
<div class="code-snippet">
  <h3 class="heading-mark-up">HTML Snippet <span class="sr-only">for announcement</span></h3>
  <pre>
      <code id="snippet-announcement" class="line-numbers language-markup">
          &lt;div class="alert alert-permanent" role="alert">
            &lt;div class="container-fluid">
              &lt;div class="alertInner">
                &lt;h2>Hidden permanent alert title&lt;/h2>
                &lt;a class="btn btn-default" href="#">Permanent alert message link&lt;/a>
              &lt;/div>
            &lt;/div>
          &lt;/div>
      </code>
  </pre>
  <button class="clipboard" data-clipboard-target="#snippet-announcement">
      Copy <span class="sr-only">HTML snippet for announcement</span>
  </button>
</div>

<h2 id="dismissable-alerts" class="heading-large">Dismissable alert</h2>
<div class="example">
  <span class="example-title">Example</span>
  <div class="alert alert-warning alert-dismissible" role="alert">
    <div class="container-fluid">
      <div class="alertInner"><button href="#" type="button" class="close" data-alert="1" data-dismiss="alert" aria-label="Close"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h2>Dismissable alert title</h2>
        <p>Here's where the information goes</p>
        <a class="btn btn-default" href="#">Link</a>
      </div>
    </div>
  </div>
</div>
<div class="code-snippet">
  <h3 class="heading-mark-up">HTML Snippet <span class="sr-only">for emergency message</span></h3>
  <pre>
      <code id="snippet-emergencey-message" class="line-numbers language-markup">
          &lt;div class="alert alert-warning alert-dismissible" role="alert">
            &lt;div class="container-fluid">
              &lt;div class="alertInner">&lt;button href="#" type="button" class="close" data-alert="1" data-dismiss="alert" aria-label="Close">&lt;span class="glyphicon glyphicon-remove" aria-hidden="true">&lt;/span>&lt;/button>
                &lt;h2>Dismissable alert title&lt;/h2>
                &lt;p>Here's where the information goes&lt;/p>
                &lt;a class="btn btn-default" href="#">Link&lt;/a>
              &lt;/div>
            &lt;/div>
          &lt;/div>
      </code>
  </pre>
  <button class="clipboard" data-clipboard-target="#snippet-emergencey-message">
      Copy <span class="sr-only">HTML snippet for emergencey message</span>
  </button>
</div>

<h2 id="dismissable-announcement" class="heading-large">Dismissable announcement</h2>
<div class="example">
  <span class="example-title">Example</span>
  <div class="alert alert-info alert-dismissible" role="alert">
    <div class="container-fluid">
      <div class="alertInner"><button href="#" type="button" class="close" data-alert="2" data-dismiss="alert" aria-label="Close"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h2>Dismissable announcement title</h2>
        <p>Here's where the information goes</p>
        <a class="btn btn-default" href="#">Link</a>
      </div>
    </div>
  </div>
</div>
<div class="code-snippet">
  <h3 class="heading-mark-up">HTML Snippet <span class="sr-only">for announcement</span></h3>
  <pre>
      <code id="snippet-announcement" class="line-numbers language-markup">
          &lt;div class="alert alert-info alert-dismissible" role="alert">
            &lt;div class="container-fluid">
              &lt;div class="alertInner">&lt;button href="#" type="button" class="close" data-alert="2" data-dismiss="alert" aria-label="Close">&lt;span class="glyphicon glyphicon-remove" aria-hidden="true">&lt;/span>&lt;/button>
                &lt;h2>Dismissable announcement title&lt;/h2>
                &lt;p>Here's where the information goes&lt;/p>
                &lt;a class="btn btn-default" href="#">Link&lt;/a>
              &lt;/div>
            &lt;/div>
          &lt;/div>
      </code>
  </pre>
  <button class="clipboard" data-clipboard-target="#snippet-announcement">
      Copy <span class="sr-only">HTML snippet for announcement</span>
  </button>
</div>

{% endblock %}