{% extends "design-system-page-layout-guide.html" %}

{% set section_id = "components" %} <!-- Section id var for main nav --> 
{% set page_id = "breadcrumb" %} <!-- Page id var for side nav --> 
{% set page_title = "Breadcrumb" %} <!-- Page title var for page header (H1) and page title -->    

{% block sectionOneTop %}{% endblock %}

{% block sectionLeftHandColumn %}
    <!-- Side nav include -->  
    {% include "includes/design-system/design-system-side-nav.html" %}
{% endblock %}

{% block sectionOneRightContent %}
<div class="page-header-section">
    <h1>{{ page_title }}</h1>
    <p class="lead">The user needs to know their location in the website's hierarchical structure in order to possibly browse back to a higher level in the hierarchy.</p>
</div>

<div class="example">
    <span class="example-title">Example</span>
    <div class="breadcrumb" aria-label="breadcrumb">
        <ol>
            <li><a href="#">Home</a></li>
            <li><a href="#">Level 2</a></li>
            <li aria-current="page">Current page</li>
        </ol>
    </div>
</div>
<div class="code-snippet">
    <h3 class="heading-mark-up">HTML Snippet <span class="sr-only">for breadcrumb</span></h3>
    <pre>
        <code id="snippet-breadcrumb" class="line-numbers language-markup">
            &lt;div class="breadcrumb" aria-label="breadcrumb">
                &lt;ol>
                    &lt;li>&lt;a href="#">Home&lt;/a>&lt;/li>
                    &lt;li>&lt;a href="#">Level 2&lt;/a>&lt;/li>
                    &lt;li aria-current="page">Current page&lt;/li>
                &lt;/ol>
            &lt;/div>
        </code>
    </pre>
    <button class="clipboard" data-clipboard-target="#snippet-breadcrumb">
        Copy <span class="sr-only">HTML snippet for breadcrumb</span>
    </button>
</div>

{% endblock %}