{% extends "design-system-page-layout-guide.html" %}

{% set section_id = "components" %} <!-- Section id var for main nav --> 
{% set page_id = "contact" %} <!-- Page id var for side nav --> 
{% set page_title = "Contact information" %} <!-- Page title var for page header (H1) and page title -->    

{% block sectionOneTop %}{% endblock %}

{% block sectionLeftHandColumn %}
    <!-- Side nav include -->  
    {% include "includes/design-system/design-system-side-nav.html" %}
{% endblock %}

{% block sectionOneRightContent %}
<div class="page-header-section">
    <h1>{{ page_title }}</h1>
    <p class="lead"></p>
</div>

<div class="contents-box">
    <h2 class="heading-contents">Contents</h2>
    <ul class="list list-contents">
        <li><a href="#item1">Contact block</a></li>
        <li><a href="#item2">Text block</a></li>
    </ul>
</div>

<h2 id="item1" class="heading-large top">Contact block</h2>
<p>Highlight overall contact details at bottom of the page</p>
<div class="example">
    <span class="example-title">Example</span>    

    <div class="panel">
        <h2>Contact us</h2>

        <p><strong>Phone</strong></p>
        <div class="text-block">
            <p>0113 222 4404<br>
            <span class="font-xsmall">(Weekdays, 9am to 5pm&#8203;&#8203;, except Wednesdays when we're open from 10am)</span></p>
        </div>

        <p><strong>In person</strong></p>
        <div class="text-block">
            <p>Visit any of our <a href="/residents/neighbourhoods-and-community/onestop-centres">One Stop Centres</a></p>
        </div>

        <p><strong>By post</strong></p>
        <div class="text-block">
            <p>Leeds City Council, P.O. Box 60, Leeds, LS2 8JR</p>
        </div>

    </div>

</div>

<div class="code-snippet">
    <h3 class="heading-mark-up">HTML Snippet <span class="sr-only">for text block</span></h3>
    <pre class="language-markup">
        <code class="line-numbers language-markup">
        &lt;div class="panel">

            &lt;h2>Contact us&lt;/h2>

            &lt;p>&lt;strong>Phone&lt;/strong>&lt;/p>
            &lt;div class="text-block">
                &lt;p>0113 222 4404 &lt;br>
                &lt;span class="font-xsmall">(Weekdays, 9am to 5pm&#8203;&#8203;, except Wednesdays when we're open from 10am)&lt;/span>&lt;/p>
            &lt;/div>

            &lt;p>&lt;strong>In Person&lt;/strong>&lt;/p>
            &lt;div class="text-block">
                &lt;p>Visit any of our &lt;a href="/residents/neighbourhoods-and-community/onestop-centres">One Stop Centres&lt;/a>&lt;/p>
            &lt;/div>

            &lt;p>&lt;strong>By post&lt;/strong>&lt;/p>
            &lt;div class="text-block">
                &lt;p>Leeds City Council, P.O. Box 60, Leeds, LS2 8JR&lt;/p>
            &lt;/div>
            
        &lt;div>
        </code>
    </pre>
</div>


<h2 id="item2" class="heading-large">Text block</h2>
<p>Hightlight single piece of contact information within the page content</p>
<div class="example">
    <span class="example-title">Example</span>    

    <p>Complete and return your form by post to:</p>
    <div class="text-block">
        <p>Leeds City Council, PO BOX 60, Leeds, LS2 8JR</p>
    </div>
    
</div>

<div class="code-snippet">
    <h3 class="heading-mark-up">HTML Snippet <span class="sr-only">for text block</span></h3>
    <pre class="language-markup">
        <code class="line-numbers language-markup">

        &lt;p>Complete and return your form by post to:&lt;/p>

        &lt;div class="text-block">
            &lt;p>Leeds City Council, P.O. Box 60, Leeds, LS2 8JR&lt;/p>
        &lt;/div>

        </code>
    </pre>
</div>


{% endblock %}