{% extends "design-system-page-layout-guide.html" %}

{% set section_id = "components" %} <!-- Section id var for main nav --> 
{% set page_id = "footer" %} <!-- Page id var for side nav --> 
{% set page_title = "Footer" %} <!-- Page title var for page header (H1) and page title -->    

{% block sectionOneTop %}{% endblock %}

{% block sectionLeftHandColumn %}
    <!-- Side nav include -->  
    {% include "includes/design-system/design-system-side-nav.html" %}
{% endblock %}

{% block sectionOneRightContent %}
<div class="page-header-section">
    <h1>{{ page_title }}</h1>
</div>

<div class="contents-box">
    <h2 class="heading-contents">Contents</h2>
    <ul class="list list-contents">
        <li><a href="#full-footer">Full footer</a></li>
        <li><a href="#condensed-footer">Condensed footer</a></li>
    </ul>
</div>

<h2 id="full-footer">Full footer</h2>
<div class="example">
    <span class="example-title">Example</span>

    <footer class="main">
        <section class="footerGlobal list-atoz">         
            <div class="container-fluid lcc-footer">
                <div class="row">
                    <div class="col-md-3 footer-marg-bottom">
                        <h2 class="heading-small top">Message us</h2>
                        <div class="text-block">
                            <ul>
                                <li><a href="https://www.facebook.com/LeedsCouncil"><i class="fa fa-facebook"></i>Facebook</a></li>
                                <li><a href="https://twitter.com/LeedsCC_help"><i class="fa fa-twitter"></i>Twitter</a></li>
                            </ul>
                            <p><span class="font-xsmall">Monday to Friday, between 9am and 5pm.</span></p>
                        </div>
                    </div>
                    <div class="col-md-3 footer-marg-bottom">
                        <h2 class="heading-small top">Call us</h2>
                        <p>General enquiries</p>
                        <div class="text-block">
                            <p>0113 222 4444<br><span class="font-xsmall">Monday to Friday, 9am and 5pm, except Wednesdays when lines open at 10am.</span></p>
                        </div>
                        <p class="bottom"><a href="#">Emergency and out of hours contact numbers</a></p>
                    </div>
                    <div class="col-md-3 footer-marg-bottom">
                        <ul>
                            <li><a href="#">Accessibility</a></li>
                            <li><a href="#">British Sign Language</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Terms and Conditions</a></li>
                            <li><a rel="external" href="#">News and press office</a></li>
                            <li><a href="">Feedback</a></li>
                        </ul>
                    </div>                    
                    <div class="col-md-3"> 
                        <img class="footer-lcc-logo" src="/public/images/lcc-logo-white-01.svg" alt=""> 
                        <p>© Leeds City Council 2021</p>
                    </div>
                </div>                                  
            </div>
        </section>
    </footer>

</div>

<div class="code-snippet">
    <h3 class="heading-mark-up">HTML Snippet <span class="sr-only">for phase banner</span></h3>
    <pre>
        <code id="footer-example" class="line-numbers language-markup">
                     
            &lt;footer class="main">
                &lt;section class="footerGlobal list-atoz">         
                    &lt;div class="container-fluid lcc-footer">
                        &lt;div class="row">
                            &lt;div class="col-md-3 footer-marg-bottom">
                                &lt;h2 class="heading-small top">Message us&lt;/h2>
                                &lt;div class="text-block">
                                    &lt;ul>
                                        &lt;li>&lt;a href="#">&lt;i class="fa fa-facebook">&lt;/i>Facebook&lt;/a>&lt;/li>
                                        &lt;li>&lt;a href="#">&lt;i class="fa fa-twitter">&lt;/i>Twitter&lt;/a>&lt;/li>
                                    &lt;/ul>
                                    &lt;p>&lt;span class="font-xsmall">Monday to Friday, between 9am and 5pm.&lt;/span>&lt;/p>
                                &lt;/div>
                            &lt;/div>
                            &lt;div class="col-md-3 footer-marg-bottom">
                                &lt;h2 class="heading-small top">Call us&lt;/h2>
                                &lt;p>General enquiries&lt;/p>
                                &lt;div class="text-block">
                                    &lt;p>0113 111 2222&lt;br>&lt;span class="font-xsmall">Monday to Friday, 9am and 5pm, except Wednesdays when lines open at 10am.&lt;/span>&lt;/p>
                                &lt;/div>
                                &lt;p class="bottom">&lt;a href="#">Emergency and out of hours contact numbers&lt;/a>&lt;/p>
                            &lt;/div>
                            &lt;div class="col-md-3 footer-marg-bottom">
                                &lt;ul>
                                    &lt;li>&lt;a href="#">Accessibility&lt;/a>&lt;/li>
                                    &lt;li>&lt;a href="#">British Sign Language&lt;/a>&lt;/li>
                                    &lt;li>&lt;a href="#">Privacy&lt;/a>&lt;/li>
                                    &lt;li>&lt;a href="#">Terms and Conditions&lt;/a>&lt;/li>
                                    &lt;li>&lt;a rel="external" href="#">News and press office&lt;/a>&lt;/li>
                                    &lt;li>&lt;a href="">Feedback&lt;/a>&lt;/li>
                                &lt;/ul>
                            &lt;/div>                    
                            &lt;div class="col-md-3"> 
                                &lt;img class="footer-lcc-logo" src="/public/images/lcc-logo-white-01.svg" alt=""> 
                                &lt;p>© Leeds City Council 2021&lt;/p>
                            &lt;/div>
                        &lt;/div>                                  
                    &lt;/div>
                &lt;/section>
            &lt;/footer>



        </code>
    </pre>
    <button class="clipboard" data-clipboard-target="#footer-example">
        Copy <span class="sr-only">HTML snippet for phase banner</span>
    </button>
</div>

<h2 id="condensed-footer">Condensed footer</h2>

<div class="example">
    <span class="example-title">Example</span>
    <footer class="design-system-footer main">
        <section class="footerGlobal">
            <div class="container-fluid"> 
                <div class="row">
                    <div class="col-lg-12">
                        <nav>
                            <ul>
                                <li><a href="#">Accessibility</a></li>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Terms and conditions</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                   
                <div class="row">
                    <div class="col-sm-12 logo-footer">
                        <img src="/public/images/lcc-logo-white-01.svg" alt="Leeds City Council logo" />
                        <p>Copyright © Leeds City Council 2019</p>
                        <p>Official local authority website for Leeds providing information on local services.</p>
                    </div>     
                </div>
            </div>
        </section>
    </footer>
</div>

<div class="code-snippet">
    <h3 class="heading-mark-up">HTML Snippet <span class="sr-only">for second footer</span></h3>
    <pre>
        <code id="second-footer" class="line-numbers language-markup">
            &lt;footer class="main">
                &lt;section class="footerGlobal">
                    &lt;div class="container-fluid">    
                        &lt;div class="row">
                            &lt;div class="col-lg-12">
                                &lt;nav>
                                    &lt;ul>
                                        &lt;li>&lt;a href="#">Accessibility&lt;/a>&lt;/li>
                                        &lt;li>&lt;a href="#">Terms and conditions&lt;/a>&lt;/li>
                                        &lt;li>&lt;a href="#">Contact&lt;/a>&lt;/li>
                                    &lt;/ul>
                                &lt;/nav>
                            &lt;/div>
                        &lt;/div>                   
                        &lt;div class="row">
                            &lt;div class="col-sm-12 logo-footer">
                                &lt;img src="/public/images/lcc-logo-white-01.svg" alt="Leeds City Council logo" />
                                &lt;p>Copyright © Leeds City Council 2019&lt;/p>
                                &lt;p>Official local authority website for Leeds providing information on local services.&lt;/p>
                            &lt;/div>                                      
                        &lt;/div>
                    &lt;/div>                    
                &lt;/section>
            &lt;/footer>
        </code>
    </pre>
    <button class="clipboard" data-clipboard-target="#second-footer">
        Copy <span class="sr-only">HTML snippet for second footer example</span>
    </button>
</div>

{% endblock %}