{% extends "design-system-page-layout-guide.html" %}

{% set section_id = "components" %} <!-- Section id var for main nav --> 
{% set page_id = "header" %} <!-- Page id var for side nav --> 
{% set page_title = "Header" %} <!-- Page title var for page header (H1) and page title -->    

{% block sectionOneTop %}{% endblock %}

{% block sectionLeftHandColumn %}
    <!-- Side nav include -->  
    {% include "includes/design-system/design-system-side-nav.html" %}
{% endblock %}

{% block sectionOneRightContent %}
<div class="page-header-section">
    <h1>{{ page_title }}</h1>
    <p class="lead"></p>
</div>

<div class="example">
    <header class="header-nav-container"> 
        <div id="header" class="header-lcc">
            <section class="sectionHeader">
                <div class="container-fluid">
                    <div class="header-wrapper">
                        <div class="header-logo">
                            <a href="\" title="Go to the homepage" class="logo"><span class="sr-only">Go to home page</span></a>
                        </div>
                        <div class="header-content">
                            <div id="header-custom" class="header-custom">
                                <div class="header-button">
                                    <a class="btn-account" href="#"> <span>My Account</span></a>
                                </div>
                            </div>     
                            <div class="header-nav">
                                <a class="search" href="#">
                                    <span class="sr-only">Toggle website</span> <span>Search</span>
                                </a>
                                <div class="nav-search" id="nav-search">
                                    <div class="input-group">
                                        <!--sharepoint search-->
                                        <div data-name="search_box">
                                            {% include "includes/site-components/sharepoint-search.html" %}                                          
                                        </div>
                                        <!-- end sharepoint search -->
                                    </div>
                                </div>   
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </header>
</div>
<div class="code-snippet">
    <h3 class="heading-mark-up">HTML Snippet <span class="sr-only">for phase banner</span></h3>
    <pre>
        <code id="snippet-phase-banner" class="line-numbers language-markup">

        </code>
    </pre>
    <button class="clipboard" data-clipboard-target="#snippet-phase-banner">
        Copy <span class="sr-only">HTML snippet for phase banner</span>
    </button>
</div>

<div class="example">
    <header class="header-nav-container"> 
        <div id="header" class="header-lcc">
            <section class="sectionHeader">
                <div class="container-fluid">
                    <div class="header-wrapper">
                        <div class="header-logo">
                            <a href="\" title="Go to the homepage" class="logo"><span class="sr-only">Go to home page</span></a>
                        </div>
                        <div class="service-title"><a href="#">Service name goes here</a></div>
                    </div>
                </div>
            </section>
        </div>
    </header>
</div>

{% endblock %}