{% extends "design-system-page-layout-guide.html" %}

{% set section_id = "components" %} <!-- Section id var for main nav --> 
{% set page_id = "hiddentext" %} <!-- Page id var for side nav --> 
{% set page_title = "Hidden Text" %} <!-- Page title var for page header (H1) and page title -->    

{% block sectionOneTop %}{% endblock %}

{% block sectionLeftHandColumn %}
    <!-- Side nav include -->  
    {% include "includes/design-system/design-system-side-nav.html" %}
{% endblock %}

{% block sectionOneRightContent %}
<div class="page-header-section">
    <h1>{{ page_title }} <span>Progressive disclosure</span></h1>
    <p class="lead">Use this to make your page easier to scan, only showing contextual information when required.</p>
</div>
<div class="example">
    <span class="example-title">Example</span>
    <details class="details">
        <summary>Details</summary>
        <div class="details__container">
            <p>Instead you'll need to provide us with a Council tax Student Certificate from your admissions/student services department.</p>
        </div>
    </details>
</div>

<div class="code-snippet">
    <h3 class="heading-mark-up">HTML Snippet <span class="sr-only">for hidden text</span></h3>
    <pre>
            <code id="snippet-hiddentext" class="line-numbers language-markup">
                &lt;details class="details">
                    &lt;summary>Details&lt;/summary>
                    &lt;div class="details__container">
                        &lt;p>Instead you'll need to provide us with a Council tax Student Certificate from your admissions/student services department.&lt;/p>
                    &lt;/div>
                &lt;/details>
            </code>
    </pre>
    <button class="clipboard" data-clipboard-target="#snippet-hiddentext">
        Copy <span class="sr-only">HTML snippet for hidden text</span>
    </button>
</div>
{% endblock %}