{% extends "design-system-page-layout-guide.html" %}

{% set section_id = "components" %} <!-- Section id var for main nav --> 
{% set page_id = "insettext" %} <!-- Page id var for side nav --> 
{% set page_title = "Highlighted text" %} <!-- Page title var for page header (H1) and page title -->    

{% block sectionOneTop %}{% endblock %}

{% block sectionLeftHandColumn %}
    <!-- Side nav include -->  
    {% include "includes/design-system/design-system-side-nav.html" %}
{% endblock %}

{% block sectionOneRightContent %}
<div class="page-header-section">
    <h1>{{ page_title }}</h1>
    <p class="lead"></p>
</div>

<div class="contents-box">
    <h2 class="heading-contents">Contents</h2>
    <ul class="list list-contents">
        <li><a href="#level1">Clear highlighted</a></li>
        <li><a href="#level2">Blue highlighted</a></li>
        <li><a href="#level3">Red highlighted</a></li>
        <li><a href="#warning-text">Warning text</a></li>
    </ul>
</div>

<!-- ---------------------- Clear highlighted ---------------------- -->
<div class="text">
    <h2 class="heading-large" id="level1">Clear highlighted</h2>
    <p>Default highlighted text to draw attention to a particular sentence</p>
</div>

<div class="example">
    <span class="example-title">Example</span>

    <div class="text">

        <div role="note" aria-label="Information" class="text-highlight">
            <p>Before you apply you’ll need your council tax account number - <a href="#">your account number can be found on your bill</a>.</p>
        </div>

    </div>
</div>

<div class="code-snippet">
    <h3 class="heading-mark-up">HTML Snippet <span class="sr-only">for inset text</span></h3>
    <pre>
        <code id="snippet-inset" class="line-numbers language-markup">
        
            &lt;div role="note" aria-label="Information" class="text-highlight">
                &lt;p>Before you apply you’ll need your council tax account number - &lt;a href="#">your account number can be found on your bill&lt;/a>.&lt;/p>
            &lt;/div>

        </code>
    </pre>
</div>

<!-- ---------------------- Blue highlighted ---------------------- -->
<div class="text">
    <h2 class="heading-large" id="level2">Blue highlighted</h2>
    <p>Only to be used if clear highlighted is already in use and only to contain content that needs extra focus</p>
</div>

<div class="example">
    <span class="example-title">Example</span>

    <div class="text">

        <div role="note" aria-label="Information" class="text-highlight text-highlight--blue">
            <p>Before you apply you’ll need your council tax account number - <a href="#">your account number can be found on your bill</a>.</p>
        </div>
    
    </div>
</div>

<div class="code-snippet">
    <h3 class="heading-mark-up">HTML Snippet <span class="sr-only">for inset text</span></h3>
    <pre>
        <code id="snippet-inset" class="line-numbers language-markup">
        
            &lt;div role="note" aria-label="Information" class="text-highlight  text-highlight--blue">
                &lt;p>Before you apply you’ll need your council tax account number - &lt;a href="#">your account number can be found on your bill&lt;/a>.&lt;/p>
            &lt;/div>

        </code>
    </pre>
</div>

<!-- ---------------------- Red highlighted ---------------------- -->
<div class="text">
    <h2 class="heading-large" id="level3">Red highlighted</h2>
    <p>Used to highlight serious information</p>
</div>
<div class="example">
    <span class="example-title">Example</span>

    <div class="text">
    
        <div role="note" aria-label="Information" class="text-highlight text-highlight--red">
            <h2>Emergency and out-of-hours</h2>
            <p>If you need to contact the council urgently when our offices are closed phone one of our <a href="#">emergency numbers</a>.</p>
        </div>    
    </div>
</div>

<div class="code-snippet">
    <h3 class="heading-mark-up">HTML Snippet <span class="sr-only">for inset text</span></h3>
    <pre>
        <code id="snippet-inset" class="line-numbers language-markup">
       
            &lt;div role="note" aria-label="Information" class="text-highlight text-highlight--red">
                &lt;h2>Emergency and out-of-hours&lt;/h2>
                &lt;p>If you need to contact the council urgently when our offices are closed phone one of our &lt;a href="#">emergency numbers&lt;/a>.&lt;/p>
            &lt;/div>

        </code>
    </pre>
</div>

<!-- ---------------------- Warning text ---------------------- -->
<div class="text">
    <h2 class="heading-large" id="warning-text">Warning text</h2>
    <p>Use if there are legal or serious consequences - for example, a fine or prison sentence</p>
</div>

<div class="example">
    <span class="example-title">Example</span>
    <div class="notice">
        <i class="fa fa-exclamation-triangle" aria-hidden="true">
            <span class="sr-only">Warning</span>
        </i>
        <strong class="bold-small">You must complete and return this form within 14 days. If you don’t, or if you provide false information, you could be fined and you may end up with a criminal record.</strong>
    </div>
</div>

<div class="code-snippet">
    <h3 class="heading-mark-up">HTML Snippet <span class="sr-only">for legal text</span></h3>
    <pre>
        <code class="line-numbers language-markup">
        &lt;div class="notice">
            &lt;i class="fa fa-exclamation-triangle" aria-hidden="true">
                &lt;span class="sr-only">Warning&lt;/span>
            &lt;/i>
            &lt;strong class="bold-small">You must complete and return this form within 14 days. If you don’t, or if you provide false information, you could be fined and you may end up with a criminal record.&lt;/strong>
        &lt;/div>
        </code>
    </pre>
</div>
{% endblock %}