{% extends "design-system-page-layout-guide.html" %}

{% set section_id = "components" %} <!-- Section id var for main nav --> 
{% set page_id = "insettext" %} <!-- Page id var for side nav --> 
{% set page_title = "Inset text" %} <!-- Page title var for page header (H1) and page title -->    

{% block sectionOneTop %}{% endblock %}

{% block sectionLeftHandColumn %}
    <!-- Side nav include -->  
    {% include "includes/design-system/design-system-side-nav.html" %}
{% endblock %}

{% block sectionOneRightContent %}
<div class="page-header-section">
    <h1>{{ page_title }}</h1>
    <p class="lead">Use bordered inset text to draw attention to important content on the page.</p>
</div>
<div class="example">
    <span class="example-title">Example</span>

    <div class="text">

        <div role="note" aria-label="Information" class="text-highlight">
            <p>Before you apply you’ll need your council tax account number - <a href="#">your account number can be found on your bill</a>.</p>
        </div>
    
        <div role="note" aria-label="Information" class="text-highlight text-highlight--red">
            <h2>Emergency and out-of-hours</h2>
            <p>If you need to contact the council urgently when our offices are closed phone one of our <a href="#">emergency numbers</a>.</p>
        </div>    
    </div>
</div>

<div class="code-snippet">
    <h3 class="heading-mark-up">HTML Snippet <span class="sr-only">for inset text</span></h3>
    <pre>
        <code id="snippet-inset" class="line-numbers language-markup">
       
            &lt;div role="note" aria-label="Information" class="text-highlight">
                &lt;p>Before you apply you’ll need your council tax account number - &lt;a href="#">your account number can be found on your bill&lt;/a>.&lt;/p>
            &lt;/div>

            &lt;div role="note" aria-label="Information" class="text-highlight text-highlight--red">
                &lt;h2>Emergency and out-of-hours&lt;/h2>
                &lt;p>If you need to contact the council urgently when our offices are closed phone one of our &lt;a href="#">emergency numbers&lt;/a>.&lt;/p>
            &lt;/div>

        </code>
    </pre>
    <button class="clipboard" data-clipboard-target="#snippet-inset">
        Copy <span class="sr-only">HTML snippet for inset text</span>
    </button>
</div>
{% endblock %}