{% extends "design-system-page-layout-guide.html" %}

{% set section_id = "components" %} <!-- Section id var for main nav --> 
{% set page_id = "journey-pages" %} <!-- Page id var for side nav --> 
{% set page_title = "Journey pages" %} <!-- Page title var for page header (H1) and page title -->    

{% block sectionOneTop %}{% endblock %}

{% block sectionLeftHandColumn %}
    <!-- Side nav include -->  
    {% include "includes/design-system/design-system-side-nav.html" %}
{% endblock %}

{% block sectionOneRightContent %}
<div class="page-header-section">
    <h1>{{ page_title }}</h1>
</div>

<div class="contents-box">
    <h2 class="heading-contents">Contents</h2>
    <ul class="list list-contents">
        <li><a href="#level0">Journey header</a></li>
        <li><a href="#level1">Journey list</a></li>
        <li><a href="#level3">Journey list - split test</a></li>
        <li><a href="#level2">Next / Prev</a></li>
    </ul>
</div>

<div class="text">
    <h2 class="heading-large" id="level0">Journey header</h2>
</div>

<div class="example">
    <span class="example-title">Example</span>
    <p class="pre-title">Council house repairs</p>
    <h1 class="top">Report a repair</h1>
</div>

<div class="code-snippet">
    <h3 class="heading-mark-up">HTML Snippet <span class="sr-only">for Journey Liheaderst</span></h3>
    <pre>
        <code id="snippet-journeyheader" class="line-numbers language-markup">
            &lt;p class="pre-title">
                Council house repairs
            &lt;/p>
            &lt;h1 class="top">
                Report a repair
            &lt;/h1>
        </code>
    </pre>
    <button class="clipboard" data-clipboard-target="#snippet-journeyheader">
        Copy <span class="sr-only">HTML snippet for Journey header</span>
    </button>
</div>

<div class="text">
    <h2 class="heading-large" id="level1">Journey List</h2>    
</div>

<!------------------- Ordered list ------------------->
   
<div class="text">
    <h3>Ordered list</h3>
    <p>An ordered list should be used when the order of the items should be in a specific order.</p>
</div>

<div class="example">
    <span class="example-title">Example</span>
    <aside class="part-navigation__container" role="complementary">
        <nav class="part-navigation" role="navigation" aria-label="Pages in this guide"> 
            <ol class="list">
                <li>Report a repair</li>
                <li><a href="#">Emergency repairs</a></li>
                <li><a href="#">Your appointment</a></li>
            </ol>
        </nav>
    </aside>
</div>

<div class="code-snippet">
    <h3 class="heading-mark-up">HTML Snippet for ordered List</h3>
    <pre>
        <code id="snippet-ol-v1" class="line-numbers language-markup">
            &lt;aside class="part-navigation__container" role="complementary">
                &lt;nav class="part-navigation" role="navigation" aria-label="Pages in this guide"> 
                    &lt;ol class="list">
                        &lt;li>Report a repair&lt;/li>
                        &lt;li>&lt;a href="#">Emergency repairs&lt;/a>&lt;/li>
                        &lt;li>&lt;a href="#">Your appointment&lt;/a>&lt;/li>
                    &lt;/ol>
                &lt;/nav>
            &lt;/aside>
        </code>
    </pre>
    <button class="clipboard" data-clipboard-target="#snippet-ol-v1">
        Copy <span class="sr-only">HTML snippet for Journey List</span>
    </button>
</div>

<!------------------- Unordered list ------------------->

<div class="text">
    <h3>Unordered list</h3>
    <p>Unordered lists are used when the order of the items is not relevant.</p>
</div>

<div class="example">
    <span class="example-title">Example</span> 
    <aside class="part-navigation__container" role="complementary">
        <nav class="part-navigation" role="navigation" aria-label="Pages in this guide"> 
            <ul class="list">
                <li>Report a repair</li>
                <li><a href="#">Emergency repairs</a></li>
                <li><a href="#">Your appointment</a></li>
            </ul>
        </nav>
    </aside>
</div>


<div class="code-snippet">
    <h3 class="heading-mark-up">HTML Snippet for unordered list</h3>
    <pre>
        <code id="snippet-ul-v1" class="line-numbers language-markup">
            &lt;aside class="part-navigation__container" role="complementary">
                &lt;nav class="part-navigation" role="navigation" aria-label="Pages in this guide"> 
                    &lt;ul class="list">
                        &lt;li>Report a repair&lt;/li>
                        &lt;li>&lt;a href="#">Emergency repairs&lt;/a>&lt;/li>
                        &lt;li>&lt;a href="#">Your appointment&lt;/a>&lt;/li>
                    &lt;/ul>
                &lt;/nav>
            &lt;/aside>
        </code>
    </pre>
    <button class="clipboard" data-clipboard-target="#snippet-ul-v1">
        Copy <span class="sr-only">HTML snippet for Journey List</span>
    </button>
</div>

<div class="text">
    <h2 class="heading-large" id="level3">Journey List - Split test</h2>
</div>

<!------------------- Ordered list ------------------->
   
<div class="text">
    <h3>Ordered list</h3>
    <p>An ordered list should be used when the order of the items should be in a specific order.</p>
</div>

<div class="example">
    <span class="example-title">Example</span>
    <aside class="part-navigation__container" role="complementary">
        <nav class="part-navigation part-navigation--a" role="navigation" aria-label="Pages in this guide"> 
            <ol class="list">
                <li class="active">Report a repair</li>
                <li><a href="#">Emergency repairs</a></li>
                <li><a href="#">Your appointment</a></li>
            </ol>
        </nav>
    </aside>    
</div>

<div class="code-snippet">
    <h3 class="heading-mark-up">HTML Snippet <span class="sr-only">for Journey List split test</span></h3>
    <pre>
        <code id="snippet-ol-v2" class="line-numbers language-markup">
            &lt;aside class="part-navigation__container" role="complementary">
                &lt;nav class="part-navigation part-navigation--a" role="navigation" aria-label="Pages in this guide"> 
                    &lt;ol class="list">
                        &lt;li>Report a repair&lt;/li>
                        &lt;li>&lt;a href="#">Emergency repairs&lt;/a>&lt;/li>
                        &lt;li>&lt;a href="#">Your appointment&lt;/a>&lt;/li>
                    &lt;/ol>
                &lt;/nav>
            &lt;/aside>
        </code>
    </pre>
    <button class="clipboard" data-clipboard-target="#snippet-ol-v2">
        Copy <span class="sr-only">HTML snippet for Journey List</span>
    </button>
</div>

<!------------------- Unordered list ------------------->
<div class="text">
    <h3>Unordered list</h3>
    <p>Unordered lists are used when the order of the items is not relevant.</p>
</div>

<div class="example">
    <span class="example-title">Example</span>
    <aside class="part-navigation__container" role="complementary">
        <nav class="part-navigation part-navigation--a" role="navigation" aria-label="Pages in this guide"> 
            <ul class="list">
                <li class="active">Report a repair</li>
                <li><a href="#">Emergency repairs</a></li>
                <li><a href="#">Your appointment</a></li>
            </ul>
        </nav>
    </aside>
</div>

<div class="code-snippet">
    <h3 class="heading-mark-up">HTML Snippet <span class="sr-only">for Journey List split test</span></h3>
    <pre>
        <code id="snippet-ul-v2" class="line-numbers language-markup">
            &lt;aside class="part-navigation__container" role="complementary">
                &lt;nav class="part-navigation part-navigation--a" role="navigation" aria-label="Pages in this guide"> 
                    &lt;ul class="list">
                        &lt;li>Report a repair&lt;/li>
                        &lt;li>&lt;a href="#">Emergency repairs&lt;/a>&lt;/li>
                        &lt;li>&lt;a href="#">Your appointment&lt;/a>&lt;/li>
                    &lt;/ul>
                &lt;/nav>
            &lt;/aside>
        </code>
    </pre>
    <button class="clipboard" data-clipboard-target="#snippet-ul-v2">
        Copy <span class="sr-only">HTML snippet for Unordered list v2</span>
    </button>
</div>


<div class="text">
    <h2 class="heading-large" id="level2">Next / Previous</h2>
</div>


<div class="example">
    <span class="example-title">Example</span>
    <nav class="pagination-nav" role="navigation" aria-label="Pagination">
        <ul>
            <li class="pagination-nav__previous-page">
                <a href="#" rel="prev">
                    <span class="pagination-nav__part-title">Previous</span>
                    <span class="pagination-nav__label">Report a repair</span>
                </a>
            </li>
            <li class="pagination-nav__next-page">
                <a href="#" rel="next"> 
                    <span class="pagination-nav__part-title">Next</span>
                    <span class="pagination-nav__label">Your appointment</span>
                </a>
            </li>
            <div style="clear: both;"></div>
        </ul>
    </nav>
</div>

<div class="code-snippet">
    <h3 class="heading-mark-up">HTML Snippet <span class="sr-only">for Next / Previous</span></h3>
    <pre>
        <code id="snippet-hiddentext" class="line-numbers language-markup">
            &lt;nav class="pagination-nav" role="navigation" aria-label="Pagination">
                &lt;ul>
                    &lt;li class="pagination-nav__previous-page">
                        &lt;a href="#" rel="prev">
                            &lt;span class="pagination-nav__part-title">Previous&lt;/span>
                            &lt;span class="pagination-nav__label">Report a repair&lt;/span>
                        &lt;/a>
                    &lt;/li>
                    &lt;li class="pagination-nav__next-page">
                        &lt;a href="#" rel="next"> 
                            &lt;span class="pagination-nav__part-title">Next&lt;/span>
                            &lt;span class="pagination-nav__label">Your appointment&lt;/span>
                        &lt;/a>
                    &lt;/li>
                    &lt;div style="clear: both;">&lt;/div>
                &lt;/ul>
            &lt;/nav>
        </code>
    </pre>
    <button class="clipboard" data-clipboard-target="#snippet-hiddentext">
        Copy <span class="sr-only">HTML snippet for Next / Previous</span>
    </button>
</div>


{% endblock %}