{% extends "design-system-page-layout-guide.html" %}

{% set section_id = "components" %} <!-- Section id var for main nav --> 
{% set page_id = "navigation-pods" %} <!-- Page id var for side nav --> 
{% set page_title = "Navigation pods" %} <!-- Page title var for page header (H1) and page title -->    

{% block sectionOneTop %}{% endblock %}

{% block sectionLeftHandColumn %}
    <!-- Side nav include -->  
    {% include "includes/design-system/design-system-side-nav.html" %}
{% endblock %}

{% block sectionOneRightContent %}
<div class="page-header-section">
    <h1>{{ page_title }}</h1>
    <p class="lead"></p>
</div>

<div class="example">
    <span class="example-title">Example</span>
    <div class="groupPromo">
        <div class="listWebpart">
            <ul>
                <li>
                    <a href="#">
                        <h3>Header</h3>
                        <p>Use the description to help users understand where the link will take them</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h3>Pay your council tax</h3>
                        <p>You can pay in many ways, including Direct Debit, online, phone, post or in person</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h3>Problems paying your council tax</h3>
                        <p>If you’re struggling to pay your council tax, contact us straight away so that we can help</p>
                    </a>
                </li>   
                <li>
                    <a href="#">
                        <h3>Discounts and exemptions</h3>
                        <p>Find out if you are eligible to claim student, single person or other discounts or exemptions</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h3>Bands and charges</h3>
                        <p>A list of council tax bands, their charges and how to appeal if you think your band is wrong</p>
                    </a>
                </li>        
                <li>
                    <a href="#">
                        <h3>Report a change</h3>
                        <p>Let us know about a change of address, name or other changes in circumstance</p>
                    </a>
                </li>          
            </ul>
        </div>
    </div>
</div>
<div class="code-snippet">
    <h3 class="heading-mark-up">HTML Snippet <span class="sr-only">for navigation pods</span></h3>
    <pre>
        <code id="snippet-navigation-pods" class="line-numbers language-markup">
            &lt;div class="groupPromo">
                &lt;div class="listWebpart">
                    &lt;ul>
                        &lt;li>
                            &lt;a href="#">
                                &lt;h3>Header&lt;/h3>
                                &lt;p>Use the description to help users understand where the link will take them&lt;/p>
                            &lt;/a>
                        &lt;/li>
                        &lt;li>
                            &lt;a href="#">
                                &lt;h3>Pay your council tax&lt;/h3>
                                &lt;p>You can pay in many ways, including Direct Debit, online, phone, post or in person&lt;/p>
                            &lt;/a>
                        &lt;/li>
                        &lt;li>
                            &lt;a href="#">
                                &lt;h3>Problems paying your council tax&lt;/h3>
                                &lt;p>If you’re struggling to pay your council tax, contact us straight away so that we can help&lt;/p>
                            &lt;/a>
                        &lt;/li>   
                        &lt;li>
                            &lt;a href="#">
                                &lt;h3>Discounts and exemptions&lt;/h3>
                                &lt;p>Find out if you are eligible to claim student, single person or other discounts or exemptions&lt;/p>
                            &lt;/a>
                        &lt;/li>
                        &lt;li>
                            &lt;a href="#">
                                &lt;h3>Bands and charges&lt;/h3>
                                &lt;p>A list of council tax bands, their charges and how to appeal if you think your band is wrong&lt;/p>
                            &lt;/a>
                        &lt;/li>        
                        &lt;li>
                            &lt;a href="#">
                                &lt;h3>Report a change&lt;/h3>
                                &lt;p>Let us know about a change of address, name or other changes in circumstance&lt;/p>
                            &lt;/a>
                        &lt;/li>          
                    &lt;/ul>
                &lt;/div>
            &lt;/div>
        </code>
    </pre>
    <button class="clipboard" data-clipboard-target="#snippet-navigation-pods">
        Copy <span class="sr-only">HTML snippet for navigation pods</span>
    </button>
</div>

{% endblock %}