{% extends "design-system-page-layout-guide.html" %}

{% set section_id = "components" %} <!-- Section id var for main nav --> 
{% set page_id = "stepbystep" %} <!-- Page id var for side nav --> 
{% set page_title = "Step by step list" %} <!-- Page title var for page header (H1) and page title -->    

{% block sectionOneTop %}{% endblock %}

{% block sectionLeftHandColumn %}
    <!-- Side nav include -->  
    {% include "includes/design-system/design-system-side-nav.html" %}
{% endblock %}

{% block sectionOneRightContent %}
<div class="page-header-section">
    <div class="page-header-section">
        <h1>{{ page_title }}</h1>
        <p class="lead">This is a prototype and cannot be used on the leeds.gov.uk.</p>
    </div>
    <div class="contents-box">
        <h2 class="heading-contents">Contents</h2>
        <ul class="list list-contents">
            <li><a href="#inmaincontent">Step by step list in main content</a></li>
            <li><a href="#insidebar">Step by step list in sidebar</a></li>
        </ul>
    </div>
</div>

<h2 class="heading-large" id="inmaincontent">Step by step list in main content</h2>
<div class="example">

    <span class="example-title">Example</span>
    
    <h2>Apply for council housing: step by step</h2>
    <p>Check if you are eligible, find out how to apply and search for available council and housing association properties.</p>

    <ol class="stepped-list">        
        <li class="stepped-list__list-item" property="step">
            <details class="stepped-list__details">
                <summary class="stepped-list__details-summary">
                    <span class="stepped-list__title"><span class="stepped-list__title-span">Check if you are eligble</span></span>
                </summary>
                <div class="stepped-list__details-content">
                    <p>You must be 16 years old or over to apply for council housing.</p>
                    <p>Eligibility can also depend on your nationality, immigration status and if you’ve recently lived abroad. This is because the law says that there are some people who arrive in the UK from abroad that we cannot rehouse.</p>
                    <p>We will not accept applications if you have a history of unacceptable housing-related behaviour. This includes:</p>
                    <ul class="list list-bullet">
                        <li>rent arrears</li>
                        <li>anti-social behaviour</li>
                        <li>criminal activity or damage to property</li>
                    </ul>                               
                    <p>If we reject your application, we will write to you to explain why.</p>
                </div>
            </details>                      
        </li>
        <li class="stepped-list__list-item" property="step">
            <details class="stepped-list__details">
                <summary class="stepped-list__details-summary">
                    <span class="stepped-list__title"><span class="stepped-list__title-span">Register for council housing membership</span></span>        
                </summary>
                <div class="stepped-list__details-content">
                    <p>To apply for council housing, you need to register online for a Leeds Homes membership. </p>
                    <p>You will need to provide:</p>
                    <ul class="list list-bullet">
                        <li>your national insurance number</li>
                        <li>the national insurance number of any joint applicants</li>
                        <li>your email address</li>
                    </ul>                     
                    <a rel="external" class="btn btn-primary btn-arrow" href="https://www.leedshomes.org.uk/HouseholdRegistrationForm">Register for Leeds Homes membership<span class="sr-only">External link</span></a>
                </div>
            </details>                      
        </li>
        <li class="stepped-list__list-item" property="step">
            <details class="stepped-list__details">
                <summary class="stepped-list__details-summary">
                    <span class="stepped-list__title"><span class="stepped-list__title-span">Search for a property</span></span>
                </summary>
                <div class="stepped-list__details-content">
                    <p>When your application is approved, you will be given a Leeds Homes membership number. This will allow you to bid on available properties advertised on the Leeds Homes website, which&nbsp;include&nbsp;properties owned by the council and&nbsp;housing associations.&nbsp;<br></p><p>New properties are advertised every Wednesday from 8am to the following Monday at 5pm. You can bid on up to three properties a week. </p>
                    <p>You can search for available properties online on the Leeds Homes Website. We also advertise available properties in our weekly Leeds Homes flyer, which is published every Wednesday and is available in all <a href="/Pages/Apply-for-council-housing.aspx">Community Hubs, Housing Offices and One Stop Centres</a>.<br></p>
                    <a rel="external" class="btn btn-primary btn-arrow" href="https://www.leedshomes.org.uk/">Search for available properties<span class="sr-only">External link</span></a>
                </div>
            </details>                      
        </li>
    </ol>

</div>

<h3>Instructions</h3>

<ul class="list list-bullet">
    <li>Include as many  &lt;li> items as you like, the increasing numbers will be generated in CSS</li>
    <li>Do not include any heading HTML mark-up where the snippet says "title goes here", only include actual text and no extra HTML. Including heading mark-up will stop some screen readers from announcing if the dropdown content is open or closed.</li>
</ul>

<div class="code-snippet">
    <h3 class="heading-mark-up">HTML Snippet <span class="sr-only">for step by step list</span></h3>
    <pre class="language-markup">
<code id="snippet-stepbystep" class="line-numbers language-markup">&lt;ol class="stepped-list"> 

    &lt;li class="stepped-list__list-item" property="step">
        &lt;details class="stepped-list__details">
            &lt;summary class="stepped-list__details-summary">
                &lt;span class="stepped-list__title">
                    &lt;span class="stepped-list__title-span">
                        Title goes here
                    &lt;/span>
                &lt;/span>
            &lt;/summary>
            &lt;div class="stepped-list__details-content">
                Content goes here                 
            &lt;/div>
        &lt;/details>                      
    &lt;/li>

    &lt;li class="stepped-list__list-item" property="step">
        &lt;details class="stepped-list__details">
            &lt;summary class="stepped-list__details-summary">
                &lt;span class="stepped-list__title">
                    &lt;span class="stepped-list__title-span">
                        Title goes here
                    &lt;/span>
                &lt;/span>
            &lt;/summary>
            &lt;div class="stepped-list__details-content">
                &lt;p>Content goes here&lt;/p>                   
            &lt;/div>
        &lt;/details>                      
    &lt;/li>

    &lt;li class="stepped-list__list-item" property="step">
        &lt;details class="stepped-list__details">
            &lt;summary class="stepped-list__details-summary">
                &lt;span class="stepped-list__title">
                    &lt;span class="stepped-list__title-span">
                        Title goes here
                    &lt;/span>
                &lt;/span>
            &lt;/summary>
            &lt;div class="stepped-list__details-content">
                Content goes here                 
            &lt;/div>
        &lt;/details>                      
    &lt;/li>

&lt;/ol></code>
    </pre>
    <button class="clipboard" data-clipboard-target="#snippet-stepbystep">
        Copy <span class="sr-only">HTML snippet for breadcrumb</span>
    </button>
</div>

<h2 class="heading-large" id="insidebar">Step by step list in sidebar</h2>
<div class="text">
    <p>The HTML for step by step lists that appear in sidebars is slightly different to step by step lists that appear in normal content.</p>
    <p>As space in the sidebar is limited we have reduced the size of the numbering, the amount of space around each number and the font size of text within each dropdown area.</p>
</div>

<div class="example">
    <span class="example-title">Example</span>
        
    <ol class="stepped-list stepped-list-small">
        <li class="stepped-list__list-item" property="step">
            <details class="stepped-list__details">
                <summary class="stepped-list__details-summary">
                    <span class="stepped-list__title"><span class="stepped-list__title-span">Check if you are eligble</span></span>
                </summary>
                <div class="stepped-list__details-content">
                    <ul class="list list-nav">
                        <li><a href="#">Related link</a></li>
                        <li><a href="#">Related link</a></li>
                    </ul>
                </div>
            </details>                      
        </li>
        <li class="stepped-list__list-item" property="step">
            <details class="stepped-list__details">
                <summary class="stepped-list__details-summary">
                    <span class="stepped-list__title"><span class="stepped-list__title-span">Register for council housing membership</span></span>        
                </summary>
                <div class="stepped-list__details-content">
                    <ul class="list list-nav">
                        <li><a href="#">Related link</a></li>
                        <li><a href="#">Related link</a></li>
                    </ul>
                </div>
            </details>                      
        </li>
        <li class="stepped-list__list-item" property="step">
            <details class="stepped-list__details">
                <summary class="stepped-list__details-summary">
                    <span class="stepped-list__title"><span class="stepped-list__title-span">Search for a property</span></span>
                </summary>
                <div class="stepped-list__details-content">
                    <ul class="list list-nav">
                        <li><a href="#">Related link</a></li>
                        <li><a href="#">Related link</a></li>
                    </ul>
                </div>
            </details>                      
        </li>
    </ol>   

</div>

<h3>Instructions</h3>

<ul class="list list-bullet">
    <li>Include as many  &lt;li> items as you like, the increasing numbers will be generated in CSS</li>
    <li>Do not include any heading HTML mark-up where the snippet says "title goes here", only include actual text and no extra HTML. Including heading mark-up will stop some screen readers from announcing if the dropdown content is open or closed.</li>
</ul>

<div class="code-snippet">
    <h3 class="heading-mark-up">HTML Snippet <span class="sr-only">for step by step list small</span></h3>
    <pre class="language-markup">
<code id="snippet-stepbystepsmall" class="line-numbers language-markup">&lt;ol class="stepped-list stepped-list-small"> 

    &lt;li class="stepped-list__list-item" property="step">
        &lt;details class="stepped-list__details">
            &lt;summary class="stepped-list__details-summary">
                &lt;span class="stepped-list__title">
                    &lt;span class="stepped-list__title-span">
                        Title goes here
                    &lt;/span>
                &lt;/span>
            &lt;/summary>
            &lt;div class="stepped-list__details-content">
                Content goes here                 
            &lt;/div>
        &lt;/details>                      
    &lt;/li>

    &lt;li class="stepped-list__list-item" property="step">
        &lt;details class="stepped-list__details">
            &lt;summary class="stepped-list__details-summary">
                &lt;span class="stepped-list__title">
                    &lt;span class="stepped-list__title-span">
                        Title goes here
                    &lt;/span>
                &lt;/span>
            &lt;/summary>
            &lt;div class="stepped-list__details-content">
                &lt;p>Content goes here&lt;/p>                   
            &lt;/div>
        &lt;/details>                      
    &lt;/li>

    &lt;li class="stepped-list__list-item" property="step">
        &lt;details class="stepped-list__details">
            &lt;summary class="stepped-list__details-summary">
                &lt;span class="stepped-list__title">
                    &lt;span class="stepped-list__title-span">
                        Title goes here
                    &lt;/span>
                &lt;/span>
            &lt;/summary>
            &lt;div class="stepped-list__details-content">
                Content goes here                 
            &lt;/div>
        &lt;/details>                      
    &lt;/li>

&lt;/ol></code>
    </pre>
    <button class="clipboard" data-clipboard-target="#snippet-stepbystepsmall">
        Copy <span class="sr-only">HTML snippet for step by step list small</span>
    </button>
</div>

{% endblock %}

{% block additional_page_scripts %}{% endblock %}