{% extends "design-system-page-layout-campaigns.html" %}

{% set section_id = "campaigns" %} <!-- Section id var for main nav --> 
{% set page_id = "highlighted-text" %} <!-- Page id var for side nav --> 
{% set page_title = "Highlighted text" %} <!-- Page title var for page header (H1) and page title -->    

{% block sectionOneTop %}{% endblock %}

{% block sectionLeftHandColumn %}
    <!-- Side nav include -->  
    {% include "includes/design-system/design-system-side-nav.html" %}
{% endblock %}

{% block sectionOneRightContent %}
<div class="page-header-section">
    <h1>{{ page_title }}</h1>
</div>

<div class="example">
    
    <span class="example-title">Example</span>

    <div class="campaign-highlight-text-container">
        <p class="campaign-highlight-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vehicula massa at enim varius, ut lacinia risus rhoncus. Praesent ullamcorper id elit non facilisis. Nam efficitur eget dolor a aliquet.</p>
    </div>

</div>

<div class="code-snippet">
    <h3 class="heading-mark-up">HTML Snippet <span class="sr-only">for highlighted text</span></h3>
        <pre>
            <code id="snippet-highlighted-text" class="line-numbers language-markup">
            
                &lt;div class="campaign-highlight-text-container">
                    &lt;p class="campaign-highlight-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vehicula massa at enim varius, ut lacinia risus rhoncus. Praesent ullamcorper id elit non facilisis. Nam efficitur eget dolor a aliquet.&lt;/p>
                &lt;/div>
    
        </code>
    </pre>
    <button class="clipboard" data-clipboard-target="#snippet-highlighted-text">
        Copy <span class="sr-only">HTML snippet for highlighted text</span>
    </button>
</div>

{% endblock %}