{% extends "design-system-page-layout-campaigns.html" %}

{% set section_id = "campaigns" %} <!-- Section id var for main nav --> 
{% set page_id = "image-panel" %} <!-- Page id var for side nav --> 
{% set page_title = "Image panel" %} <!-- Page title var for page header (H1) and page title -->    

{% block sectionOneTop %}{% endblock %}

{% block sectionLeftHandColumn %}
    <!-- Side nav include -->  
    {% include "includes/design-system/design-system-side-nav.html" %}
{% endblock %}

{% block sectionOneRightContent %}
<div class="page-header-section">
    <h1>{{ page_title }}</h1>
</div>

<div class="contents-box">
    <h2 class="heading-contents">Contents</h2>
    <ul class="list list-contents">
        <li><a href="#imageleftpanel">Image to left panel</a></li>
        <li><a href="#imagerightpanel">Image to right panel</a></li>
    </ul>
</div>

<h2 id="imageleftpanel">Image to left panel</h2>

<div class="example">
    
    <span class="example-title">Example</span>

    <div class="panel img">

        <div class="img-container col-md-6" style="background-image: url('https://via.placeholder.com/800x400');">
        </div>

        <div class="col-md-6 col-md-offset-6 content">
            <h2>Panel title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vehicula massa at enim varius, ut lacinia risus rhoncus. Praesent ullamcorper id elit non facilisis. Nam <a href="#">efficitur eget</a> dolor a aliquet.</p>
        </div>    
    </div>

</div>

<div class="code-snippet">

    <h3 class="heading-mark-up">HTML Snippet <span class="sr-only">for image panel</span></h3>

    <pre>
        <code id="snippet-image-panel" class="line-numbers language-markup">
        
            &lt;div class="panel img">
                &lt;div class="img-container col-md-6" style="background-image: url('https://via.placeholder.com/800x400');">
                &lt;/div>
                &lt;div class="col-md-6 col-md-offset-6 content">
                    &lt;h2>Panel title&lt;/h2>
                    &lt;p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vehicula massa at enim varius, ut lacinia risus rhoncus. Praesent ullamcorper id elit non facilisis. Nam &lt;a href="#">efficitur eget&lt;/a> dolor a aliquet.&lt;/p>
                &lt;/div>    
            &lt;/div>
    
        </code>
    </pre>

    <button class="clipboard" data-clipboard-target="#snippet-image-panel">
        Copy <span class="sr-only">HTML snippet for image panel</span>
    </button>

</div>


<h2 id="imagerightpanel">Image to right panel</h2>

<div class="example">
    
    <span class="example-title">Example</span>

    <div class="panel img">
        
        <div class="col-md-6 content">
            <h2>Panel title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vehicula massa at enim varius, ut lacinia risus rhoncus. Praesent ullamcorper id elit non facilisis. Nam <a href="#">efficitur eget</a> dolor a aliquet.</p>
        </div>    

        <div class="img-container col-md-offset-6 col-md-6" style="background-image: url('https://via.placeholder.com/800x400');">
        </div>

    </div>

</div>

<div class="code-snippet">

    <h3 class="heading-mark-up">HTML Snippet <span class="sr-only">for image panel</span></h3>

    <pre>
        <code id="snippet-image-panel-right" class="line-numbers language-markup">
        
            &lt;div class="panel img">                   
                &lt;div class="img-container col-md-6" style="background-image: url('https://via.placeholder.com/800x400');">
                &lt;/div> 
                &lt;div class="col-md-6 col-md-offset-6 content">
                    &lt;h2>Panel title&lt;/h2>
                    &lt;p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vehicula massa at enim varius, ut lacinia risus rhoncus. Praesent ullamcorper id elit non facilisis. Nam &lt;a href="#">efficitur eget&lt;/a> dolor a aliquet.&lt;/p>
                &lt;/div>   
                
            &lt;/div>
    
        </code>
    </pre>

    <button class="clipboard" data-clipboard-target="#snippet-image-panel-right">
        Copy <span class="sr-only">HTML snippet for image panel</span>
    </button>

</div>

{% endblock %}